<clr-datagrid [clrDgLoading]="loading" [clrDgSelected]="selected">
    <clr-dg-action-bar>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-secondary" (click)="onCreate()">
                <clr-icon shape="plus" size="16"></clr-icon>
                {{"APP_ACTION_ADD"|translate}}
            </button>
            <button type="button" class="btn btn-sm btn-secondary" (click)="onDelete()" [disabled]="selected.length<1">
                <clr-icon shape="close"></clr-icon>
                {{"APP_ACTION_DELETE"|translate}}
            </button>
        </div>
    </clr-dg-action-bar>
    <clr-dg-column>{{"APP_CLUSTER_FIELD_NAME"|translate}}</clr-dg-column>
    <clr-dg-column>{{"APP_CLUSTER_FIELD_VERSION"|translate}}</clr-dg-column>
    <clr-dg-column>{{"APP_CLUSTER_FIELD_STATUS"|translate}}</clr-dg-column>
    <clr-dg-column>{{"APP_CLUSTER_FIELD_CREATED_DATE"|translate}}</clr-dg-column>

    <clr-dg-row *clrDgItems="let item of items" [clrDgItem]="item">
        <clr-dg-cell><a href="javascript:void(0)" (click)="onDetail(item)">{{item.name}}</a></clr-dg-cell>
        <clr-dg-cell>{{item.spec.version}}</clr-dg-cell>
        <clr-dg-cell><a (click)="onStatusDetail(item.name)" href="javascript:void(0)">{{item.status}}</a>
        </clr-dg-cell>
        <clr-dg-cell>{{item.createAt|date:'yyyy-MM-dd hh:mm:ss'}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
        <clr-dg-pagination #pagination [(clrDgPage)]="page" [clrDgPageSize]="size" [clrDgTotalItems]="total"
                           (clrDgPageChange)="refresh()">
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            {{"APP_PAGER_TOTAL"|translate}} {{pagination.totalItems}} {{"APP_CLUSTER"|translate}}
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>

