<div class="row">
  <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-block">
        <div class="clr-row">
          <div class="clr-col-4">
            <div echarts [options]="chartOption"></div>
          </div>
          <div class="clr-col-4">
            <div echarts [options]="chartOption"></div>
          </div>
          <div class="clr-col-4">
            <div echarts [options]="chartOption"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
