[Global]
auth-url = "{{ openstack_identity }}"
username = "{{ openstack_username }}"
password = "{{ openstack_password }}"
region   = "{{ region }}"
tenant-id = "{{ openstack_projectId }}"
domain-name = "{{ openstack_domain_name }}"