apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: cinder-storageclass-default
provisioner: kubernetes.io/cinder
reclaimPolicy: Delete
parameters:
  type: "{{ zones[0]['openstack_storage_type'] }}"