<a (click)="backToItem()" class="backStyle">&lt; 项目</a>
<h3>{{currentItem.name}}</h3>
<nav class="subnav sub-nav-bg-color">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="cluster" routerLinkActive="active">集群</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="members" routerLinkActive="active">成员</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="resource" routerLinkActive="active">资源</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
