<h3>{{'APP_BACKUP_STRATEGY'|translate}}</h3>
<form clrForm #backupStrategyForm="ngForm">
    <clr-select-container>
        <label>{{'APP_BACKUP_ACCOUNT'|translate}}</label>
        <select class="input-width" clrSelect name="project" [(ngModel)]="backupStrategy.backupAccountName" required>
            <option *ngFor="let b of backupAccounts" value="{{b.name}}">{{b.name}}({{ b.bucket}})</option>
        </select>
        <clr-control-helper>{{'APP_BACKUP_ACCOUNT_HELPER'|translate}}</clr-control-helper>
    </clr-select-container>
    <clr-select-container>
        <label>{{'APP_STATUS'|translate}}</label>
        <select class="input-width" clrSelect name="status" [(ngModel)]="backupStrategy.status" required>
            <option value="ENABLE">{{'APP_STATUS_ENABLE'|translate}}</option>
            <option value="DISABLE">{{'APP_STATUS_DISABLE'|translate}}</option>
        </select>
    </clr-select-container>
</form>
<div class="modal-footer clr-row clr-col-4">
    <button class="btn btn-info-outline" (click)="onBackup()" [disabled]="backupStrategy.id == ''">
        {{'APP_BACKUP_NOW'|translate}}
    </button>
    <button class="btn btn-info-outline clr-col-1" (click)="onSubmit()">{{'APP_COMMIT'|translate}}
    </button>
</div>