<clr-datagrid [clrDgLoading]="loading">
    <clr-dg-column>Commit Id</clr-dg-column>
    <clr-dg-column>{{'APP_CREATED_DATE'|translate}}</clr-dg-column>
    <clr-dg-column>{{'APP_STATUS'|translate}}</clr-dg-column>


    <clr-dg-row  *ngFor="let item of items" [clrDgItem]="item">
        <clr-dg-cell><a href="javascript:void(0)" (click)="onDetail(item)">{{item.gitCommitId}}</a></clr-dg-cell>
        <clr-dg-cell>{{item.createdAt|date:'yyyy-MM-dd HH:mm:ss'}}</clr-dg-cell>
        <clr-dg-cell>{{item.status|translate}}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
        <clr-dg-pagination #pagination [(clrDgPage)]="page" [clrDgPageSize]="size" [clrDgTotalItems]="total"
                           (clrDgPageChange)="refresh()">
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            {{"APP_PAGER_TOTAL"|translate}} {{pagination.totalItems}} {{"APP_LOG"|translate}}
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>
