- name: download govc file
  copy: src=govc dest=/usr/local/bin/govc mode=0755

- name: prepare vsphere.conf
  template: src=vsan/vsphere.conf.j2 dest=/usr/local/bin/vsphere.conf

- name: prepare setup.sh
  template: src=vsan/setup.sh.j2 dest=/tmp/setup.sh

- name: set disk.enableuuid to true for all vms
  shell: "bash setup.sh"
  args:
    chdir: "/tmp"
  run_once: true

- name: modify apiserver and controller-manager services on master node
  lineinfile:
    path: "{{ item.key }}"
    insertbefore: "--v=2"
    line: "{{ item.value }}"
  with_items:
    - { key: '/etc/systemd/system/kube-apiserver.service', value: '  --cloud-provider=vsphere \'}
    - { key: '/etc/systemd/system/kube-controller-manager.service', value: '  --cloud-provider=vsphere \'}
    - { key: '/etc/systemd/system/kube-apiserver.service', value: '  --cloud-config=/usr/local/bin/vsphere.conf \'}
    - { key: '/etc/systemd/system/kube-controller-manager.service', value: '  --cloud-config=/usr/local/bin/vsphere.conf \'}

- name: modify kubelet services on worker node
  lineinfile:
    path: "/etc/systemd/system/kubelet.service"
    insertbefore: "--v=2"
    line: '  --cloud-provider=vsphere \'
  delegate_to: "{{ item }}"
  with_items: "{{ groups['kube-node'] }}"

- name: restart kubelet service
  shell: "systemctl daemon-reload && systemctl restart kubelet"
  delegate_to: "{{ item }}"
  with_items: "{{ groups['kube-node'] }}"

- name: restart apiserver and controller-manager service
  shell: "systemctl daemon-reload && systemctl restart kube-controller-manager && \
    systemctl restart kube-apiserver"

- name: prepare vsan default storageclass file
  template:
    src: sc/default-sc.yaml.j2
    dest: "/tmp/default-sc.yaml"

- name: create vsan default storageclass
  shell: "kubectl apply -f /tmp/default-sc.yaml"
  run_once: true