<clr-modal [(clrModalOpen)]="createHostOpened" [clrModalStaticBackdrop]="staticBackdrop"
           [clrModalClosable]="closable" >
  <h3 class="modal-title">添加主机</h3>
  <div class="modal-body modal-height">
    <form clrForm>
      <clr-input-container>
        <label>名称:</label>
        <input clrInput type="text" [(ngModel)]="host.name" [ngModelOptions]="{standalone: true}">
      </clr-input-container>

      <clr-input-container>
        <label>Ip:</label>
        <input clrInput type="text" [(ngModel)]="host.ip" [ngModelOptions]="{standalone: true}">
      </clr-input-container>

      <clr-input-container>
        <label>用户名:</label>
        <input clrInput type="text" [(ngModel)]="host.username" [ngModelOptions]="{standalone: true}">
      </clr-input-container>

      <clr-password-container>
        <label>密码:</label>
        <input clrPassword type="password" [(ngModel)]="host.password" [ngModelOptions]="{standalone: true}">
      </clr-password-container>

      <clr-textarea-container>
        <label>描述:</label>
        <textarea clrTextarea [(ngModel)]="host.comment" [ngModelOptions]="{standalone: true}"></textarea>
      </clr-textarea-container>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="onCancel()">取消</button>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">提交</button>
      </div>
    </form>
  </div>
</clr-modal>
