<clr-modal [(clrModalOpen)]="opened" clrModalSize="lg">
  <h3 class="modal-title">管理成员</h3>
  <div class="modal-body">
    <div *ngIf="this.options">
      <div class="clr-row">
        <div class="clr-col-2">
          <h5>管理员</h5>
        </div>
        <div class="clr-col-10">
          <l-select2 [data]="options" [(ngModel)]="managers" [options]="ops" (valueChange)="userFilter()"></l-select2>
        </div>
      </div>
      <br/>
      <div class="clr-row">
        <div class="clr-col-2">
          <h5>只读用户</h5>
        </div>
        <div class="clr-col-10">
          <l-select2 [data]="options" [(ngModel)]="viewers" [options]="ops" (valueChange)="userFilter()"></l-select2>
        </div>
      </div>
    </div>
    <div *ngIf="!this.options">
      <clr-spinner></clr-spinner>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="onCancel()">取消</button>
    <button type="button" class="btn btn-primary" (click)="onSubmit()">确定</button>
  </div>
</clr-modal>
