{% if openshift_aws_node_user_data is defined and openshift_aws_node_user_data != '' %}
{{ openshift_aws_node_user_data }}
{% else %}
#cloud-config
write_files:
- path: /root/openshift_bootstrap/openshift_settings.yaml
  owner: 'root:root'
  permissions: '0640'
  content: |
    openshift_node_config_name: {{ openshift_aws_node_group.node_group_config | default('unset') }}
{%   if openshift_aws_node_group.group != 'master' %}
- path: /etc/origin/node/bootstrap.kubeconfig
  owner: 'root:root'
  permissions: '0640'
  encoding: b64
  content: {{ openshift_aws_launch_config_bootstrap_token | b64encode }}
{%   endif %}
runcmd:
{%     if openshift_aws_node_run_bootstrap_startup %}
- [ ansible-playbook, /root/openshift_bootstrap/bootstrap.yml]
{%     endif %}
{%     if openshift_aws_node_group.group != 'master' %}
{# Restarting systemd-hostnamed ensures that instances will have FQDN
hostnames following network restart. #}
- [ systemctl, restart, systemd-hostnamed]
- [ systemctl, restart, NetworkManager]
- [ systemctl, enable, {% if openshift_deployment_type == 'openshift-enterprise' %}atomic-openshift{% else %}origin{% endif %}-node]
- [ systemctl, start, {% if openshift_deployment_type == 'openshift-enterprise' %}atomic-openshift{% else %}origin{% endif %}-node]
{%     endif %}
{% endif %}
