[Centos-Base]
name=CentOS Base
baseurl=http://{{local_hostname}}:{{repo_port}}/repository/centos-base/$releasever/extras/$basearch/
enabled=1
gpgcheck=0

[Centos-Extras]
name=CentOS Extras
baseurl=http://{{local_hostname}}:{{repo_port}}/repository/centos-base/$releasever/os/$basearch/
enabled=1
gpgcheck=0

[Centos-epel]
name=CentOS epel-epel
baseurl=http://{{local_hostname}}:{{repo_port}}/repository/centos-epel/7/$basearch/
enabled=1
gpgcheck=0