<h5>节点配置</h5>
<clr-datagrid [clrDgLoading]="loading">
  <clr-dg-column [clrDgField]="name">名称</clr-dg-column>
  <clr-dg-column [clrDgField]="ip">IP</clr-dg-column>
  <clr-dg-column [clrDgField]="status">状态</clr-dg-column>
  <clr-dg-column [clrDgField]="status">角色</clr-dg-column>


  <clr-dg-row *ngFor="let node of nodes" [clrDgItem]="node">
    <clr-dg-cell>{{node.name}}</clr-dg-cell>
    <clr-dg-cell>{{node.ip}}</clr-dg-cell>
    <clr-dg-cell>{{node.status}}</clr-dg-cell>

    <clr-dg-cell>
      <div class="clr-control-container clr-control-inline">
        <div class="clr-checkbox-wrapper">
          <input type="checkbox" id="vertical-checkbox1" name="checkbox-full" value="option1" class="clr-checkbox">
          <label for="vertical-checkbox1" class="clr-control-label">master</label>
        </div>
        <div class="clr-checkbox-wrapper">
          <input type="checkbox" id="vertical-checkbox2" name="checkbox-full" value="option1" class="clr-checkbox">
          <label for="vertical-checkbox1" class="clr-control-label">node</label>
        </div>
        <div class="clr-checkbox-wrapper">
          <input type="checkbox" id="vertical-checkbox3" name="checkbox-full" value="option1" class="clr-checkbox">
          <label for="vertical-checkbox1" class="clr-control-label">etcd</label>
        </div>
      </div>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>

  </clr-dg-footer>

</clr-datagrid>
