<app-license-import (imported)="refresh()"></app-license-import>
<div class="clr-row">
    <div class="clr-col-12">
        <div class="card">
            <div class="card-block">
                <div class="card-text">
                    <div class="clr-row">
                        <div class="clr-col-3">
                            <table class="table table-vertical">
                                <tbody>
                                <tr>
                                    <th>{{"APP_CORPORATION"|translate}}</th>
                                    <td>{{this.licenseInfo.license.corporation}}</td>
                                </tr>
                                <tr>
                                    <th>{{"APP_COUNT"|translate}}</th>
                                    <td>{{this.licenseInfo.license.count}}</td>
                                </tr>
                                <tr>
                                    <th>{{"APP_EXPIRED"|translate}}</th>
                                    <td>{{this.licenseInfo.license.expired}}</td>
                                </tr>
                                <tr>
                                    <th>{{"APP_EDITION"|translate}}</th>
                                    <td>{{this.licenseInfo.license.edition}}</td>
                                </tr>
                                <tr>
                                    <th>{{"APP_STATUS"|translate}}</th>
                                    <td *ngIf="licenseStatus === ''"></td>
                                    <td *ngIf="licenseStatus == 'valid'" [ngStyle]="{'color': licenseStatus == 'valid' ? 'green' : 'red' }">{{"APP_LICENSE_VALID_STATUS"|translate}}</td>
                                    <td *ngIf="licenseStatus == 'expired'" [ngStyle]="{'color': licenseStatus == 'valid' ? 'green' : 'red' }">{{"APP_LICENSE_EXPIRED_STATUS"|translate}}</td>
                                    <td *ngIf="licenseStatus == 'invalid'" [ngStyle]="{'color': licenseStatus == 'valid' ? 'green' : 'red' }">{{"APP_LICENSE_INVALID_STATUS"|translate}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-sm btn-secondary" (click)="onImport()">
                    <clr-icon shape="import" size="16"></clr-icon>
                    {{"APP_IMPORT"|translate}}
                </button>
            </div>
        </div>
    </div>
</div>