<div class="clr-row">
    <div class="clr-col-12">
        <div class="card">
            <div class="card-block">
                <div class="card-text">
                    <div class="clr-row">
                        <div class="clr-col-3">
                            <table class="table table-vertical">
                                <tbody>
                                <tr>
                                    <th>订阅ID</th>
                                    <td>.table</td>
                                </tr>
                                <tr>
                                    <th>公司名称</th>
                                    <td>.table</td>
                                </tr>
                                <tr>
                                    <th>授权数量</th>
                                    <td>.table</td>
                                </tr>
                                <tr>
                                    <th>过期时间</th>
                                    <td>.table</td>
                                </tr>
                                <tr>
                                    <th>版本</th>
                                    <td>.table</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-sm btn-secondary">
                    <clr-icon shape="import" size="16"></clr-icon>
                    {{"APP_IMPORT"|translate}}
                </button>
            </div>
        </div>
    </div>
</div>