<clr-modal [(clrModalOpen)]="opened" [clrModalClosable]="false" clrModalSize="lg">
    <h3 class="modal-title">创建存储类</h3>
    <div class="modal-body" *ngIf="item">
        <form clrForm>
            <clr-input-container>
                <label>名称</label>
                <input clrInput [size]="34" name="name" [(ngModel)]="item.metadata.name">
            </clr-input-container>

            <clr-select-container>
                <label>存储类型</label>
                <select clrSelect>
                    <option value="">NFS</option>
                    <option value="">Ceph-RBD</option>
                </select>
            </clr-select-container>

            <clr-select-container>
                <label>提供商</label>
                <select name="provisioner" [(ngModel)]="provisioner" (change)="onProvisionerChange()" clrSelect>
                    <option [ngValue]="null">自定义</option>
                    <option [ngValue]="p" *ngFor="let p of provisioners">{{p.name}}</option>
                </select>
            </clr-select-container>

            <table class="table table-vertical" *ngIf="provisioner ===null">
                <tbody>
                <tr>
                    <th>provisioner_name</th>
                    <td>
                        <input clrInput [size]="34" name="provisioner_name" [(ngModel)]="item.provisioner">
                    </td>
                </tr>
                </tbody>
            </table>

            <table class="table table-vertical" *ngIf="provisioner&&provisioner.type==='nfs'">
                <tbody>
                <tr>
                    <th>provisioner_name</th>
                    <td>
                        <input [size]="34" class="clr-input" name="provisioner_name" [(ngModel)]="item.provisioner"
                               disabled>
                    </td>
                </tr>
                </tbody>
            </table>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="onCancel()">{{'APP_CANCEL'|translate}}</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()">{{'APP_COMMIT'|translate}}</button>
    </div>
</clr-modal>
