<clr-modal [(clrModalOpen)]="createNodeOpened" [clrModalStaticBackdrop]="staticBackdrop"
           [clrModalClosable]="closable">
  <h3 class="modal-title">添加节点</h3>
  <div class="modal-body modal-height">
    <form clrForm>
      <clr-input-container>
        <label>名称:</label>
        <input clrInput size=45 type="text" [(ngModel)]="node.name" [ngModelOptions]="{standalone: true}">
      </clr-input-container>

      <clr-select-container>
        <label>选择主机:</label>
        <select clrSelect type="text" [(ngModel)]="node.host" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let host of hosts" [value]="host.id">{{host.name}}</option>
        </select>
      </clr-select-container>

      <clr-select-container>
        <label>角色:</label>
        <select clrSelect type="text" [(ngModel)]="node.roles" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let role of roles" [value]="role.name">{{role.name}}</option>
        </select>
      </clr-select-container>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="onCancel()">取消</button>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">提交</button>
      </div>
    </form>
  </div>
</clr-modal>
