{
  "registry-mirrors": [
    "https://dockerhub.azk8s.cn",
    "https://docker.mirrors.ustc.edu.cn",
    "http://hub-mirror.c.163.com"
  ],
  "insecure-registries":["{{registry_prefix}}:{{registry_port}}","registry.{{APP_DOMAIN}}"],
  "max-concurrent-downloads": 10,
  "log-driver": "json-file",
  "log-level": "warn",
  "log-opts": {
    "max-size": "10m",
    "max-file": "3"
    },
{% if DOCKER_ADDR is defined %}
  "bip": "{{ DOCKER_ADDR }}",
{% endif %}
  "data-root": "{{ STORAGE_DIR }}"
}
