{
  "registry-mirrors": [
    "https://dockerhub.azk8s.cn",
    "https://docker.mirrors.ustc.edu.cn",
    "http://hub-mirror.c.163.com"
  ],
{% if kubeapps_install is defined %}
  "insecure-registries":["{{registry_prefix}}:{{registry_port}}","registry.{{APP_DOMAIN}}","{{kubeapps_registry_hostname}}"],
{% else %}
  "insecure-registries":["{{registry_prefix}}:{{registry_port}}","registry.{{APP_DOMAIN}}"],
{% endif %}
  "max-concurrent-downloads": 10,
  "log-driver": "{{ LOG_DRIVER }}",
  "log-level": "{{ LOG_LEVEL }}",
  "log-opts": {
    "max-size": "{{ LOG_MAX_SIZE }}",
    "max-file": "{{ LOG_MAX_FILE }}"
    },
{% if DOCKER_ADDR is defined %}
  "bip": "{{ DOCKER_ADDR }}",
{% endif %}
  "data-root": "{{ STORAGE_DIR }}"
  {% if ENABLE_REMOTE_API %}
  , "hosts": ["tcp://0.0.0.0:2376", "unix:///var/run/docker.sock"]
  {% endif %}
}
