<clr-header class="header-6" [ngStyle]="{'background-color':'#2b415a'}">
  <div class="branding" >
    <img src="../../../assets/images/logo-title.png" width="220px" >
  </div>
  <div class="header-actions">
    <clr-dropdown class="dropdown">
      <button class="nav-text" clrDropdownToggle>
        <clr-icon shape="user" class="is-inverse" size="24"></clr-icon>
        <span>{{username}}</span>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu [clrPosition]="'bottom-right'">
        <a href="javascript:void(0)" clrDropdownItem (click)="logOut()">退出登录</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</clr-header>
