---
- hosts: localhost
  any_errors_fatal: true
  tasks:
  - name: Check dependencies and OpenStack prerequisites
    import_role:
      name: openshift_openstack
      tasks_from: check-prerequisites.yml

  - name: Check network configuration
    import_role:
      name: openshift_openstack
      tasks_from: net_vars_check.yaml
