<clr-modal [(clrModalOpen)]="opened" [clrModalClosable]="false">
    <h3 class="modal-title">{{'APP_STATUS_UPGRADE'|translate}}</h3>
    <div class="modal-body modal-height">
        {{item.name}}: {{item.version}} ---> {{item.higher_version}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="onCancel()">{{'APP_CANCEL'|translate}}</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()"
                [disabled]="isSubmitGoing">{{'APP_COMMIT'|translate}}</button>
    </div>
</clr-modal>
