$TTL 60
$ORIGIN {{APP_DOMAIN}}.
@           IN  SOA  {{APP_DOMAIN}}. admin.{{APP_DOMAIN}}. (
                     2017072300 ; Serial
                     4H         ; Refresh
                     1H         ; Retry
                     7D         ; Expire
                     4H )       ; Negative Cache TTL


{% for worker in groups['worker'] %}
*           IN  A   {{hostvars[host]['ansible_ssh_host'] }}
{% endfor %}