.:53 {
  bind 0.0.0.0
  hosts {
{% for host in groups['all_nodes'] %}
    {{ hostvars[host]['ansible_ssh_host'] }}  {{host}}
{% endfor %}
    {{local_hostname}}  {{dns_repository_hostname}}
    ttl 60
    reload 1m
    fallthrough
  }
  file /root/apps.dns.conf {{APP_DOMAIN}}
  forward . 114.114.114.114 8.8.8.8
  cache 120
  reload 6s
  log
  errors
}

