.:53 {
  bind 0.0.0.0
  hosts {
{% for host in groups['all_nodes'] %}
    {{ hostvars[host]['ansible_ssh_host'] }}  {{host}}
{% endfor %}
    {{local_hostname}}  {{dns_repository_hostname}}
    ttl 60
    reload 1m
    fallthrough
  }
  file /root/apps.dns.conf {{APP_DOMAIN}}
{% if dns1 is defined or dns2 is defined %}
  forward . {% if dns1 %}{{dns1}}{% endif %} {% if dns2 %}{{dns2}}{% endif %}
{% endif %}

  cache 120
  reload 6s
  log
  errors
}

