.:53 {
  bind 0.0.0.0
  hosts {
{% for host in groups['all_nodes'] %}
    {{ hostvars[host]['ansible_ssh_host'] }}  {{host}}
{% endfor %}
    {{hostvars[groups['worker'][0]]['ansible_ssh_host']}}  {{APP_DOMAIN}}
    {{local_hostname}}  {{dns_repository_hostname}}
    fallthrough
  }
  file /root/apps.dns.conf {{APP_DOMAIN}}
  forward . /etc/resolv.conf
  reload 6s
  log
  errors
}