<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2> {{ 'APP_SYSTEM_MESSAGE' | translate }}</h2>
</div>
<nav class="subnav sub-nav-bg-color">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="mailbox"
               routerLinkActive="active">{{ 'APP_MSG' | translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="userReceiver"
               routerLinkActive="active">{{ 'APP_USER_RECEIVER' | translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="subscribe"
               routerLinkActive="active">{{ 'APP_USER_SUBSCRIBE' | translate}}</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
