<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<style>
    table {
        font-size: 14px;
        table-layout: fixed;
        border: 5px solid #F2F2F2;
    }

    td {
        font-family: Arial;
        WORD-WRAP: break-word
    }
</style>
<div align="center">
    <table border="0" cellspacing="2" cellpadding="2" width="900">
        <tr bgcolor="#D1D1D1">
            <th align="left" style="font-size:23px;">{{ title }}</th>
        </tr>
        <tr>
            <td align="left">项目: {{ item_name }}</td>
        </tr>
        <tr>
            <td align="left">集群: {{ resource_name }}</td>
        </tr>
        <tr>
            <td align="left">详情:
               <span>{{ detail.message }}</span>
            </td>
        </tr>
{#        <tr>#}
{#            <td align="left">CPU使用率:{{ detail.cpu_usage }}%</td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td align="left">内存使用率:{{ detail.mem_usage }}%</td>#}
{#        </tr>#}
        <tr>
            <td align="left">时间: {{ date }}
            </td>
        </tr>
    </table>
    <p>此邮件为KubeOperator平台自动发送，请勿回复!</p>
</div>
</body>
</html>