apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: reportprometheusqueries.metering.openshift.io
  annotations:
    catalog.app.coreos.com/displayName: "Chargeback prometheus query"
    catalog.app.coreos.com/description: "A Prometheus query by Chargeback to do metering"
spec:
  group: metering.openshift.io
  version: v1alpha1
  scope: Namespaced
  names:
    plural: reportprometheusqueries
    singular: reportprometheusquery
    kind: ReportPrometheusQuery
