[Global]
user = "{{ vc_username }}"
password = "{{ vc_password }}"
server = "{{ vc_host }}"
port = "{{ vc_port }}"
datacenter = "{{ region }}"
datastore = "{{ zones[0]['vc_storage'] }}"
working-dir = "kubeoperator"
insecure-flag = "1"

[Disk]
scsicontrollertype = pvscsi