version: "2.2"
services:
  nginx:
    image: nginx:alpine
    container_name: kubeops_nginx
    restart: always
    ports:
      - 80:80
    volumes:
      - ./docker/nginx/f2o.conf:/etc/nginx/conf.d/default.conf
    healthcheck:
      test: ["CMD", "test", "-f", "/var/run/nginx.pid"]
      interval: 10s
      timeout: 5s
      retries: 10

  ui:
    build: ui
    image: kube-operator/ui:2.1.0
    container_name: kubeops_ui
    restart: always
    healthcheck:
      test: ["CMD", "test", "-f", "/var/run/nginx.pid"]
      interval: 10s
      timeout: 5s
      retries: 10
    depends_on:
      api:
        condition: service_healthy

  api:
    build: api
    image: kube-operator/api:2.1.0
    container_name: kubeops_api
    restart: always
    privileged: true
    tty: true
    dns:
      - "127.0.0.1"
    volumes:
      - api_data:/opt/kubeOperator-api/data
      - dns_data:/etc/dnsmasq.d
      - ./data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      DB_HOST: mysql
      DB_USER: root
      DB_PASSWORD: SuMk2lH20ocmvyu1p38m40
      DB_NAME: kube-operator
      REDIS_HOST: redis
    healthcheck:
      test: "curl localhost:8000"
      interval: 10s
      timeout: 5s
      retries: 20
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy

  mysql:
    container_name: kubeops_mysql
    image: mysql:5
    command: --character-set-server=utf8
    ports:
      - 3306
    volumes:
      - mysql_data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: kube-operator
      MYSQL_ROOT_PASSWORD: SuMk2lH20ocmvyu1p38m40
    healthcheck:
      test: "mysql -uroot -h127.0.0.1 -pSuMk2lH20ocmvyu1p38m40 -e 'SHOW DATABASES;'"
      interval: 10s
      timeout: 5s
      retries: 10

  redis:
    image: redis:alpine
    container_name: kubeops_redis
    restart: always
    ports:
      - 6379
    healthcheck:
      test: ["CMD", "redis-cli", "info"]
      interval: 10s
      timeout: 5s
      retries: 10

  webkubectl:
    images: webkubectl/webkubectl
    container_name: kubeops_webkubectl
    restart: always
    ports:
     - 8080
    privileged: true
    healthcheck:
      test: "curl localhost:8008"
      interval: 10s
      timeout: 5s
      retries: 10




volumes:
  api_data:
  mysql_data:
  redis_data:
  dns_data:
networks:
  default: