[mysqld]
default-storage-engine=INNODB
character_set_server=utf8
lower_case_table_names=1
max_connections=2000
max_connect_errors=6000
innodb_file_per_table=1
max_allowed_packet=64M
transaction_isolation=READ-COMMITTED
skip-name-resolve

[mysql]
default-character-set=utf8

[mysql.server]
default-character-set=utf8