<clr-modal [(clrModalOpen)]="opened" [clrModalClosable]="false">
  <h3 class="modal-title">添加Ceph</h3>
  <div class="modal-body modal-height">
    <form clrForm #itemForm='ngForm'>
      <clr-input-container>
        <label>名称:</label>
        <input clrInput size=45 maxlength="15" type="text" pattern="{{name_pattern}}" [(ngModel)]="item.name"
               name="name" required>
        <clr-control-helper>{{name_pattern_tip}}</clr-control-helper>
        <clr-control-error>{{name_pattern_tip}}</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>monitor:</label>
        <input clrInput size=45 maxlength="100" type="text" [(ngModel)]="item.vars['monitor']"
               name="monitor" required>
        <clr-control-helper>例：172.16.10.160:6789,172.16.10.161:6789,172.16.10.168:6789</clr-control-helper>
      </clr-input-container>
      <clr-input-container>
        <label>secrets:</label>
        <input clrInput size=45 maxlength="50" type="text" [(ngModel)]="item.vars['secrets']"
               name="secrets" required>
        <clr-control-helper>{{helper}}</clr-control-helper>
      </clr-input-container>
      <clr-input-container>
        <label style="white-space:nowrap">osd存储池:</label>
        <input clrInput size=45 maxlength="30" type="text" [(ngModel)]="item.vars['osd_pool']"
               name="osd_pool" required>
      </clr-input-container>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="onCancel()" [disabled]="isSubmitGoing">取消</button>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()"
                [disabled]="isSubmitGoing || itemForm.invalid">
          <i *ngIf="isSubmitGoing " class="fa fa-spinner fa-pulse"></i>提交
        </button>
      </div>
    </form>
  </div>
</clr-modal>
