apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{obj_name}}
{% if annotations is defined %}
  annotations:
{% for key,value in annotations.items() %}
    {{key}}: {{value}}
{% endfor %}
{% endif %}
spec:
{% if pv_selector is defined and pv_selector is mapping %}
  selector:
    matchLabels:
{% for key,value in pv_selector.items() %}
      {{key}}: {{value}}
{% endfor %}
{% endif %}
  accessModes:
{% for mode in access_modes %}
    - {{mode}}
{% endfor %}
  resources:
    requests:
      storage: {{size}}
  storageClassName: ""

