<app-log-detail [(showLogModal)]=showDetail></app-log-detail>
<clr-datagrid [clrDgLoading]="loading" >

  <clr-dg-column>任务类型</clr-dg-column>
  <clr-dg-column>创建时间</clr-dg-column>
  <clr-dg-column>开始时间</clr-dg-column>
  <clr-dg-column>完成时间</clr-dg-column>
  <clr-dg-column>耗时(秒)</clr-dg-column>
  <clr-dg-column>状态</clr-dg-column>
  <clr-dg-column>操作</clr-dg-column>
  <clr-dg-row class="fixed-height" *ngFor="let execution of executions" [clrDgItem]="log">
    <clr-dg-cell>{{execution.operation}}</clr-dg-cell>
    <clr-dg-cell>{{execution.date_created | date: 'yyyy-MM-dd HH:mm:ss'}}</clr-dg-cell>
    <clr-dg-cell>{{execution.date_start | date: 'yyyy-MM-dd HH:mm:ss'}}</clr-dg-cell>
    <clr-dg-cell>{{execution.date_end | date: 'yyyy-MM-dd HH:mm:ss'}}</clr-dg-cell>
    <clr-dg-cell>{{execution.timedelta}}</clr-dg-cell>
    <clr-dg-cell>{{execution.state}}</clr-dg-cell>
    <clr-dg-cell>
      <button class="btn btn-sm sm-button" (click)="showLogDetail(execution)">详情</button>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>

  </clr-dg-footer>

</clr-datagrid>
