<clr-vertical-nav [clrVerticalNavCollapsible]="true">
    <a clrVerticalNavLink routerLinkActive="active" routerLink="/clusters">
        <clr-icon shape="cluster" clrVerticalNavIcon></clr-icon>
        {{ 'APP_CLUSTER' | translate }}
    </a>
    <a clrVerticalNavLink routerLinkActive="active" routerLink="/credentials">
        <clr-icon shape="credential" clrVerticalNavIcon></clr-icon>
        {{ 'APP_CREDENTIAL' | translate }}
    </a>
    <a clrVerticalNavLink routerLinkActive="active" routerLink="/setting">
        <clr-icon shape="cog" clrVerticalNavIcon></clr-icon>
        {{ 'APP_SETTING' | translate }}
    </a>
</clr-vertical-nav>
