<clr-vertical-nav [clrVerticalNavCollapsible]="true">
    <a clrVerticalNavLink routerLinkActive="active" routerLink="/projects">
        <clr-icon shape="organization" clrVerticalNavIcon></clr-icon>
        {{ 'APP_PROJECT' | translate }}
    </a>
    <a clrVerticalNavLink routerLinkActive="active" *ngIf="user.isAdmin" routerLink="/hosts">
        <clr-icon shape="host" clrVerticalNavIcon></clr-icon>
        {{ 'APP_HOST' | translate }}
    </a>
    <a clrVerticalNavLink routerLinkActive="active" *ngIf="user.isAdmin" routerLink="/deploy">
        <clr-icon shape="clock" clrVerticalNavIcon></clr-icon>
        {{ 'APP_DEPLOY_PLAN' | translate }}
    </a>
    <a clrVerticalNavLink routerLinkActive="active" *ngIf="user.isAdmin && hasLicense" routerLink="/multicluster">
        <clr-icon shape="data-cluster" clrVerticalNavIcon></clr-icon>
        {{'APP_MULTI_CLUSTER'|translate}}
    </a>
    <a clrVerticalNavLink routerLinkActive="active" *ngIf="user.isAdmin" routerLink="/manifests">
        <clr-icon shape="blocks-group" clrVerticalNavIcon></clr-icon>
        {{ 'APP_MANIFEST' | translate }}
    </a>
    <a clrVerticalNavLink routerLinkActive="active" *ngIf="hasLicense" routerLink="/message">
        <clr-icon shape="envelope" clrVerticalNavIcon></clr-icon>
        {{ 'APP_SYSTEM_MESSAGE' | translate }}
    </a>
    <a clrVerticalNavLink routerLinkActive="active" *ngIf="user.isAdmin" routerLink="/users">
        <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
        {{ 'APP_USER_MANAGEMENT' | translate }}
    </a>
    <a clrVerticalNavLink routerLinkActive="active" *ngIf="user.isAdmin" routerLink="/setting">
        <clr-icon shape="cog" clrVerticalNavIcon></clr-icon>
        {{ 'APP_SYSTEM_SETTING' | translate }}
    </a>
    <a clrVerticalNavLink routerLinkActive="active" routerLink="/system-log">
        <clr-icon shape="list" clrVerticalNavIcon></clr-icon>
        {{ 'APP_LOGGING' | translate }}
    </a>
</clr-vertical-nav>



