<clr-vertical-nav [clrVerticalNavCollapsible]="true">
    <a clrVerticalNavLink routerLinkActive="active" routerLink="/clusters">
        <clr-icon shape="cluster" clrVerticalNavIcon></clr-icon>
        {{ 'APP_CLUSTER' | translate }}
    </a>
    <a clrVerticalNavLink routerLinkActive="active" routerLink="/hosts">
        <clr-icon shape="host" clrVerticalNavIcon></clr-icon>
        {{ 'APP_HOST' | translate }}
    </a>
    <a clrVerticalNavLink routerLinkActive="active" routerLink="/users">
        <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
        {{ 'APP_USER_MANAGEMENT' | translate }}
    </a>
    <a clrVerticalNavLink routerLinkActive="active" routerLink="/setting">
        <clr-icon shape="cog" clrVerticalNavIcon></clr-icon>
        {{ 'APP_SYSTEM_SETTING' | translate }}
    </a>
</clr-vertical-nav>
