<clr-modal [(clrModalOpen)]="opened">
    <h3 class="modal-title">{{'APP_ADD'|translate}}{{'APP_LICENSE'|translate}}</h3>
    <div class="modal-body modal-height">
        <form clrForm #itemForm="ngForm" enctype="multipart/form-data">
            <clr-input-container>
                <input clrInput type="file" name="license" (change)="upload($event)" required>
            </clr-input-container>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="onSubmit()"
                [disabled]="itemForm.invalid">{{"APP_COMMIT"|translate}}</button>
    </div>
</clr-modal>
