- name: restart_docker
  service:
    name: "docker"
    state: restarted

- name: restart_master
  service:
    name: "{{item}}"
    state: restarted
  with_items:
    - kube-apiserver
    - kube-controller-manager
    - kube-scheduler
