apiVersion: apps/v1
kind: Deployment
metadata:
  name: rook-ceph-operator
  namespace: rook-ceph
  labels:
    operator: rook
    storage-backend: ceph
spec:
  selector:
    matchLabels:
      app: rook-ceph-operator
  replicas: 1
  template:
    metadata:
      labels:
        app: rook-ceph-operator
    spec:
      serviceAccountName: rook-ceph-system
      containers:
      - name: rook-ceph-operator
        image: {{registry_prefix}}:{{registry_port}}/{{ rook_ceph_image }}:{{ rook_ceph_version }}
        args: ["ceph", "operator"]
        volumeMounts:
        - mountPath: /var/lib/rook
          name: rook-config
        - mountPath: /etc/ceph
          name: default-config-dir
        env:
        - name: ROOK_CURRENT_NAMESPACE_ONLY
          value: "false"
        - name: ROOK_ALLOW_MULTIPLE_FILESYSTEMS
          value: "false"
        - name: ROOK_LOG_LEVEL
          value: "INFO"
        - name: ROOK_CEPH_STATUS_CHECK_INTERVAL
          value: "60s"
        - name: ROOK_MON_HEALTHCHECK_INTERVAL
          value: "45s"
        - name: ROOK_MON_OUT_TIMEOUT
          value: "600s"
        - name: ROOK_DISCOVER_DEVICES_INTERVAL
          value: "60m"
        - name: ROOK_HOSTPATH_REQUIRES_PRIVILEGED
          value: "false"
        - name: ROOK_ENABLE_SELINUX_RELABELING
          value: "true"
        - name: ROOK_ENABLE_FSGROUP
          value: "true"
        - name: ROOK_DISABLE_DEVICE_HOTPLUG
          value: "false"
        - name: ROOK_ENABLE_FLEX_DRIVER
          value: "false"
        - name: ROOK_ENABLE_DISCOVERY_DAEMON
          value: "true"
        - name: ROOK_CSI_ENABLE_CEPHFS
          value: "false"
        - name: ROOK_CSI_ENABLE_RBD
          value: "true"
        - name: ROOK_CSI_ENABLE_GRPC_METRICS
          value: "true"
        - name: ROOK_CSI_CEPH_IMAGE
          value: "{{registry_prefix}}:{{registry_port}}/{{ cephcsi_image }}:{{ cephcsi_version }}"
        - name: ROOK_CSI_REGISTRAR_IMAGE
          value: "{{registry_prefix}}:{{registry_port}}/{{ csi_node_driver_registrar_image }}:{{ csi_node_driver_registrar_version }}"
        - name: ROOK_CSI_PROVISIONER_IMAGE
          value: "{{registry_prefix}}:{{registry_port}}/{{ csi_provisioner_image }}:{{ csi_provisioner_version }}"
        - name: ROOK_CSI_SNAPSHOTTER_IMAGE
          value: "{{registry_prefix}}:{{registry_port}}/{{ csi_snapshotter_image }}:{{ csi_snapshotter_version }}"
        - name: ROOK_CSI_ATTACHER_IMAGE
          value: "{{registry_prefix}}:{{registry_port}}/{{ csi_attacher_image }}:{{ csi_attacher_version }}"
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
      volumes:
      - name: rook-config
        emptyDir: {}
      - name: default-config-dir
        emptyDir: {}
