apiVersion: ceph.rook.io/v1
kind: CephBlockPool
metadata:
  name: {{ cluster_name }}
  namespace: rook-ceph
spec:
  failureDomain: host
  replicated:
    size: {{ groups['kube-node'] | length }}
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
   name: {{ storageClassName }}
provisioner: rook-ceph.rbd.csi.ceph.com
parameters:
    clusterID: rook-ceph
    pool: {{ cluster_name }}
    imageFormat: "2"
    imageFeatures: layering
    csi.storage.k8s.io/provisioner-secret-name: rook-csi-rbd-provisioner
    csi.storage.k8s.io/provisioner-secret-namespace: rook-ceph
    csi.storage.k8s.io/node-stage-secret-name: rook-csi-rbd-node
    csi.storage.k8s.io/node-stage-secret-namespace: rook-ceph
    csi.storage.k8s.io/fstype: ext4
reclaimPolicy: Delete
