<clr-modal [(clrModalOpen)]="opened">
    <h3 class="modal-title">{{'APP_DELETE'|translate}}</h3>
    <div class="modal-body modal-height">
        <app-modal-alert></app-modal-alert>
        {{'APP_DEFAULT_DELETE_WARNING'|translate}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="onCancel()"
                [disabled]="isSubmitGoing">{{'APP_CANCEL'|translate}}</button>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()"
                [disabled]="isSubmitGoing">{{'APP_COMMIT'|translate}}
        </button>
    </div>
</clr-modal>
