- name: check registry exists
  shell: cat /etc/dnsmasq.d/fit2openshift.dns.conf | grep {{hostvars[inventory_hostname]['ansible_default_ipv4']['address']}}
  register: is_registry_in
  ignore_errors: yes
  
- debug: 
    msg: "{{ is_registry_in.rc }}"

- name: set registry dns
  lineinfile:
    path: "/etc/dnsmasq.d/fit2openshift.dns.conf"
    line: "address=/registry.fit2openshift.io/{{hostvars[inventory_hostname]['ansible_default_ipv4']['address']}}"
   when: is_registry_in.rc != 0
