/* You can add global styles to this file, and also import other style files */
.clr-input-group {
    color: #000;
    color: var(--clr-forms-text-color, black);
    border-bottom: .05rem solid;
    border-bottom-color: #b3b3b3;
    border-bottom-color: var(--clr-forms-border-color, #b3b3b3);
    display: inline;
    background: linear-gradient(to bottom,transparent 95%,var(--clr-forms-focused-color, #0072a3) 95%) no-repeat;
    background-size: 0 100%;
    transition: background-size .2s ease;
    max-width: 100%;
    height: 1.2rem;
}