/* You can add global styles to this file, and also import other style files */
.app-loading {
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom:0;
  margin:auto;
  width: 108px !important;
  height: 108px !important;
}
