<clr-modal [(clrModalOpen)]="opened" [clrModalClosable]="true">
    <h3 class="modal-title">{{'APP_ABOUT'|translate}}</h3>
    <div class="modal-body modal-height">
        <table class="table table-vertical">
            <tbody>
            <tr>
                <th>{{'APP_VERSION'|translate}}</th>
                <td>v3.1.0</td>
            </tr>
            <tr>
                <th>{{'APP_SUPPORT'|translate}}</th>
                <td>
                    杭州飞致云信息科技有限公司
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</clr-modal>
