<clr-modal [(clrModalOpen)]="opened" [clrModalClosable]="true">
    <h3 class="modal-title">{{'APP_ABOUT'|translate}}</h3>
    <div class="modal-body modal-height">
        <table class="table table-vertical">
            <tbody>
            <tr>
                <th>{{'APP_VERSION'|translate}}</th>
                <td>v3.1.0</td>
            </tr>
            <tr>
                <th>{{'APP_SOURCE_CODE'|translate}}</th>
                <td>
                    <a href="https://github.com/KubeOperator/KubeOperator" target="_blank" rel="noreferrer noopener">
                        https://github.com/KubeOperator/KubeOperator
                    </a>
                </td>
            </tr>
            <tr>
                <th>{{'APP_WEBSITE'|translate}}</th>
                <td>
                    <a href="https://kubeoperator.io" target="_blank" rel="noreferrer noopener">
                        https://kubeoperator.io
                    </a>
                </td>
            </tr>
            <tr>
                <th>{{'APP_SUPPORT'|translate}}</th>
                <td>
                    <a href="https://fit2cloud.com" target="_blank" rel="noreferrer noopener">
                        杭州飞致云信息科技有限公司
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</clr-modal>
