apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{obj_name}}"
{% if labels is not defined %}
  labels:
    metrics-infra: support
{% elif labels %}
  labels:
{% for key, value in labels.items() %}
    {{ key }}: {{ value }}
{% endfor %}
{% endif %}
{% if annotations is defined and annotations %}
  annotations:
{% for key,value in annotations.items() %}
    {{key}}: {{value}}
{% endfor %}
{% endif %}
spec:
{% if pv_selector is defined and pv_selector is mapping %}
  selector:
    matchLabels:
{% for key,value in pv_selector.items() %}
      {{key}}: {{value}}
{% endfor %}
{% endif %}
  accessModes:
{% for mode in access_modes %}
    - {{ mode }}
{% endfor %}
  resources:
    requests:
      storage: {{size}}
{% if storage_class_name is defined %}
  storageClassName: {{ storage_class_name }}
{% endif %}
