wget
net-tools
bind-utils
bind-license
iptables-services
bridge-utils
bash-completion
kexec-tools
sos
psacct
glibc-common
chrony
ntp
libseccomp2
ibseccomp
rsync
jq
oniguruma
python-docker-py
python-passlib
python2-passlib

