[Unit]
Description=KubeOperator service
After=network.target docker.service
[Service]
Type=simple
WorkingDirectory=INSTALL_DIR/kubeoperator
Environment=PACKAGE_PATH_PREFIX=INSTALL_DIR/kubeoperator/data/packages/
ExecStart=export /usr/bin/docker-compose -f INSTALL_DIR/kubeoperator/docker-compose.yml up
ExecStop=/usr/bin/docker-compose -f INSTALL_DIR/kubeoperator/docker-compose.yml down
#Restart=always
[Install]
WantedBy=multi-user.target