[Unit]
Description=Servico de manutencao do Harbor
After=network.target docker.service
[Service]
Type=simple
WorkingDirectory=/opt/kubeoperator
ExecStart=/usr/bin/docker-compose -f /opt/kubeoperator/docker-compose.yml up
ExecStop=/usr/bin/docker-compose -f /opt/kubeoperator/docker-compose.yml down
#Restart=always
[Install]
WantedBy=multi-user.target