<clr-modal [(clrModalOpen)]="opened">
    <h3 class="modal-title">{{'APP_EDIT'|translate}}</h3>
    <div class="modal-body modal-height">
        <form clrForm #userForm='ngForm'>
            <clr-input-container>
                <label>{{"APP_NAME"|translate}}</label>
                <label>{{item.name}}</label>
            </clr-input-container>
        </form>
        <app-modal-alert></app-modal-alert>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="onCancel()"
                [disabled]="isSubmitGoing">{{'APP_CANCEL'|translate}}</button>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()"
                [disabled]="userForm.invalid ">{{'APP_COMMIT'|translate}}
        </button>
    </div>
</clr-modal>
