{
	"plugin": "journald",
	"pluginConfig": {
		"source": "abrt-notification"
	},
	"logPath": "/var/log/journal",
	"lookback": "5m",
	"bufferSize": 10,
	"source": "abrt-adaptor",
	"conditions": [],
	"rules": [
		{
			"type": "temporary",
			"reason": "CCPPCrash",
			"pattern": "Process \\d+ \\(\\S+\\) crashed in .*"
		},
		{
			"type": "temporary",
			"reason": "UncaughtException",
			"pattern": "Process \\d+ \\(\\S+\\) of user \\d+ encountered an uncaught \\S+ exception"
		},
		{
			"type": "temporary",
			"reason": "XorgCrash",
			"pattern": "Display server \\S+ crash in \\S+"
		},
		{
			"type": "temporary",
			"reason": "VMcore",
			"pattern": "System encountered a fatal error in \\S+"
		},
		{
			"type": "temporary",
			"reason": "Kerneloops",
			"pattern": "System encountered a non-fatal error in \\S+"
		}
	]
}
