apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: f2c-loki-ingress
  namespace: kube-operator
spec:
  rules:
  - host: loki.{{ APP_DOMAIN }}
    http:
      paths:
      - path: /
        backend:
          serviceName: f2c-loki
          servicePort: 3100