- name: unload nouveau
  modprobe:
    name: nouveau
    state: absent
  ignore_errors: true

- name: add repo
  yum_repository:
    name: cuda
    description: NVIDIA CUDA YUM Repo
    baseurl: "{{ nvidia_driver_rhel_cuda_repo_baseurl }}"
    gpgkey: "{{ nvidia_driver_rhel_cuda_repo_gpgkey }}"

- name: add epel repo
  yum_repository:
    name: epel
    description: EPEL YUM repo
    baseurl: "{{ nvidia_driver_rhel_epel_repo_baseurl }}"
    gpgkey: "{{ nvidia_driver_rhel_epel_repo_gpgkey }}"

- name: install dependencies
  yum: name=dkms

- name: install driver packages
  yum:
    name: "cuda-drivers"
    state: "present"
  register: install_driver

- name: create persistenced override dir
  file:
    path: /etc/systemd/system/nvidia-persistenced.service.d/
    state: directory
    recurse: yes

- name: configure persistenced service to turn on persistence mode
  template:
    src: nvidia.conf.j2
    dest: /etc/systemd/system/nvidia-persistenced.service.d/override.conf
  when: nvidia_driver_persistence_mode_on

- name: remove persistenced service override
  file:
    path: /etc/systemd/system/nvidia-persistenced.service.d/override.conf
    state: absent
  when: not nvidia_driver_persistence_mode_on

- name: enable persistenced
  systemd:
    name: nvidia-persistenced
    enabled: yes
  when: nvidia_driver_package_state != 'absent'

- name: set module parameters
  template:
    src: nvidia.conf.j2
    dest: "{{ nvidia_driver_module_file }}"
    mode: '0644'