<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table {
        font-size: 14px;
        table-layout: fixed;
        border: 5px solid #F2F2F2;
    }

    td {
        font-family: Arial;
        WORD-WRAP: break-word;
    }
</style>
<body>
<div align="center">
    <table border="0" cellspacing="2" cellpadding="2" width="900">
        <tr bgcolor="#D1D1D1">
            <th align="left" style="font-size: 23px">{{.title}}</th>
        </tr>
        <tr>
            <td align="left">
                项目: {{.projectName}}
            </td>
        </tr>
        <tr>
            <td align="left">
                集群: {{.resourceName}}
            </td>
        </tr>
        <tr>
            <td align="left">
                操作: {{.operator}}
            </td>
        </tr>
        {{ if .errMsg }}
        <tr>
            <td align="left">
                信息: {{.errMsg}}
            </td>
        </tr>
        {{ end }}
        <tr>
            <td align="left">
                创建时间: {{.createdAt}}
            </td>
        </tr>
        <tr>
            <td align="left">
                请登陆 KubeOperator 查看详情
            </td>
        </tr>
    </table>
</div>
</body>
</html>