<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>设置</h2>

    <nav class="subnav sub-nav-bg-color">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="system" routerLinkActive="active">系统</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="credential" routerLinkActive="active">凭据</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="region" routerLinkActive="active">区域</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="zone" routerLinkActive="active">可用区</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="plan" routerLinkActive="active">计划</a>
        </li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
