<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>设置</h2>

    <nav class="subnav sub-nav-bg-color">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="system" routerLinkActive="active">系统</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="credential" routerLinkActive="active">凭据</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="ldap" routerLinkActive="active">LDAP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="backup-storage" routerLinkActive="active">备份</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="notification" routerLinkActive="active">通知</a>
        </li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
