<clr-modal [(clrModalOpen)]="showInfoModal" [clrModalSize]="'lg'" [clrModalClosable]=false>
  <h3 class="modal-title">主机信息</h3>
  <div class="modal-body">
    <div *ngIf="host!=null">
      <h5>健康检查</h5>
      <hr/>
      <clr-datagrid>
        <clr-dg-column>原因</clr-dg-column>
        <clr-dg-column>采集时间</clr-dg-column>
        <clr-dg-column>状态</clr-dg-column>
        <clr-dg-column>消息</clr-dg-column>
        <clr-dg-row *clrDgItems="let cond of node.conditions" [clrDgItem]="cond">
          <clr-dg-cell>{{cond.reason}}</clr-dg-cell>
          <clr-dg-cell>{{cond.last_time}}</clr-dg-cell>
          <clr-dg-cell>{{cond.status}}</clr-dg-cell>
          <clr-dg-cell>{{cond.message}}</clr-dg-cell>
        </clr-dg-row>
      </clr-datagrid>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" (click)="cancel()">取消</button>
  </div>
</clr-modal>
