<clr-modal [(clrModalOpen)]="showInfoModal" [clrModalSize]="'lg'" [clrModalClosable]=false>
  <h3 class="modal-title">离线包详情</h3>
  <div class="modal-body">
    <div *ngIf="currentPackage === null">
      暂无信息！
    </div>
    <div *ngIf="currentPackage!=null">
      <h5>系统组件</h5>
      <hr/>
      kubernetes: {{currentPackage.meta.components.kubernetes}}<br/>
      etcd: {{currentPackage.meta.components.etcd}} <br/>
      docker:{{currentPackage.meta.components.docker}}<br/>
      <h5>镜像</h5>
      <hr/>
      <clr-datagrid>
        <clr-dg-column>镜像名称</clr-dg-column>
        <clr-dg-column>标签</clr-dg-column>
        <clr-dg-row *clrDgItems="let image of currentPackage.meta.images" [clrDgItem]="image">
          <clr-dg-cell>{{image.name}}</clr-dg-cell>
          <clr-dg-cell>{{image.tag}}</clr-dg-cell>
        </clr-dg-row>
      </clr-datagrid>
    </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn" (click)="cancel()" [disabled]="loading">取消</button>
  </div>
</clr-modal>
