prometheus:
  enabled: true
  name: "prometheus"
  enableScraping: true
  serviceMonitor: false
  enableAlerting: true

image:
  repository: {{registry_prefix}}:{{registry_port}}/{{kuberhealthy_image}}
  tag: {{kuberhealthy_version}}

resources:
  requests:
    cpu: 100m
    memory: 80Mi
  limits:
    cpu: 400m
    memory: 200Mi

tolerations:
  master: false

deployment:
  replicas: 2
  maxSurge: 0
  maxUnavailable: 1
  imagePullPolicy: IfNotPresent
  podAnnotations: {}
  command:
  - /app/kuberhealthy
  args:
  - -dsPauseContainerImageOverride
  - {{registry_prefix}}:{{registry_port}}/{{kuberhealthy_pause}}:{{kuberhealthy_pause_version}}
  - -podCheckNamespaces=default,kube-system,kube-operator,weave

securityContext:
  runAsNonRoot: true
  runAsUser: 999
  allowPrivilegeEscalation: false

service:
  externalPort: 80
  type: NodePort
  annotations: {}
