---
- hosts: localhost
  connection: local
  tasks:
  - name: place all scale groups into Ansible groups
    include_role:
      name: openshift_gcp
      tasks_from: setup_scale_group_facts.yml

- import_playbook: ../init/main.yml
  vars:
    l_init_fact_hosts: "oo_masters_to_config"
    l_openshift_version_set_hosts: "oo_masters_to_config:!oo_first_master"
    l_openshift_version_check_hosts: "all:!all"
    l_sanity_check_hosts: "{{ groups['oo_masters_to_config'] }}"

- import_playbook: private/config.yml
