<a class="backStyle" (click)="backToMultiCluster()">&lt; {{"APP_MULTI_CLUSTER"|translate}}</a>
<h3>{{currentRepository.name}}</h3>
<nav class="subnav sub-nav-bg-color">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="browser" routerLinkActive="active">{{"APP_BROWSER"|translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="relation" routerLinkActive="active">{{"APP_RELATION"|translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="setting" routerLinkActive="active">{{"APP_SETTING"|translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="log" routerLinkActive="active">{{"APP_LOG"|translate}}</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>