<clr-modal [(clrModalOpen)]="opened" [clrModalClosable]="false" clrModalSize="lg">
    <h3 class="modal-title">{{'APP_ADD'|translate}}</h3>
    <div class="modal-body modal-height">
        <form clrForm #itemForm='ngForm'>
            <div *ngIf="currentCluster.provider==='bareMetal'">
                <l-select2 name="workers" [(ngModel)]="workers" [data]="hosts" [options]="options" required></l-select2>
            </div>

            <div *ngIf="currentCluster.provider==='plan'">
                <clr-input-container>
                    <label>{{"APP_INCREASE"|translate}}</label>
                    <input size="34" oninput="if(value<1)value=1" min="1" clrInput type="number" name="increase"
                           [(ngModel)]="item.increase">
                </clr-input-container>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="onCancel()">{{'APP_CANCEL'|translate}}</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()" [clrLoading]="isSubmitGoing"
                [disabled]="itemForm.invalid">{{'APP_COMMIT'|translate}}</button>
    </div>
</clr-modal>
