<clr-modal [(clrModalOpen)]="opened">
    <h3 class="modal-title">{{'EDIT_VM_CONFIG'|translate}}</h3>
    <div class="modal-body modal-height">
        <form clrForm #vmConfigEditForm="ngForm">
            <clr-input-container>
                <label>{{'APP_NAME'|translate}}:</label>
                <input clrInput size=20 maxlength="30" [(ngModel)]="item.name" name="name" disabled>
            </clr-input-container>
            <clr-input-container>
                <label>{{'APP_CPU'|translate}}:</label>
                <input clrInput type="number" [(ngModel)]="item.cpu" name="cpu" required>
            </clr-input-container>
            <clr-input-container>
                <label>{{'APP_HOST_MEMORY_GB'|translate}}:</label>
                <input clrInput type="number" [(ngModel)]="item.memory" name="memory" required>
            </clr-input-container>
        </form>
        <app-modal-alert></app-modal-alert>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="onCancel()">{{'APP_CANCEL'|translate}}</button>
            <button type="submit" class="btn btn-primary" (click)="onSubmit()" [clrLoading]="isSubmitGoing"
                    [disabled]="vmConfigEditForm.invalid">{{'APP_COMMIT'|translate}}
            </button>
        </div>
    </div>
</clr-modal>

