apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: reportdatasources.metering.openshift.io
  annotations:
    catalog.app.coreos.com/displayName: "Chargeback data source"
    catalog.app.coreos.com/description: "A resource describing a source of data for usage by Report Generation Queries"
spec:
  group: metering.openshift.io
  version: v1alpha1
  scope: Namespaced
  names:
    plural: reportdatasources
    singular: reportdatasource
    kind: ReportDataSource
