---
### This playbook is old and we are currently not using NFS.
- hosts: tag_Name_nfs-v3-stg
  become: no
  remote_user: root
  gather_facts: no
  roles:
  - role: openshift_storage_nfs_lvm
    mount_dir: /exports/stg-black
    volume_prefix: "kwoodsontest"
    volume_size: 5
    volume_num_start: 222
    number_of_volumes: 3
  tasks:
  - fetch:
    dest: json/
    src: /root/"{{ item }}"
  with_items:
  - persistent-volume.kwoodsontest5g0222.json
  - persistent-volume.kwoodsontest5g0223.json
  - persistent-volume.kwoodsontest5g0224.json
