[run]
branch = True
omit =
    */lib/python*/site-packages/*
    */lib/python*/*
    /usr/*
    */setup.py
    # TODO(rhcarvalho): this is used to ignore test files from coverage report.
    # We can make this less generic when we stick with a single test pattern in
    # the repo.
    */conftest.py
    */test_*.py
    */*_tests.py
    */test/*

[report]
fail_under = 28

[html]
directory = cover
