<div class="clr-row">
    <div class="clr-col-3" *ngFor="let item of items">
        <div class="card">
            <div class="card-block">
                <div class="card-media-block">
                    <img [src]="'assets/images/tool/'+item.logo" class="card-media-image">
                    <div class="card-media-description">
                        <span class="card-media-title">
                            {{item.name}}-{{item.version}}
                        </span>
                        <span class="card-media-text">
                            {{item.describe}}
                        </span>
                    </div>
                </div>
                <div class="card-text">
                </div>
            </div>
            <div class="card-footer">
                <div style="text-align: right">
                    <button *ngIf="item.status === 'Waiting' || item.status === 'Failed'" class="btn btn-sm btn-primary"
                        (click)="onEnable(item)">
                        {{'APP_ENABLE'|translate}}
                    </button>

                    <button *ngIf="item.status === 'Failed'" class="btn btn-sm btn-danger" (click)="onFailed(item)">
                        {{'APP_FAILED'|translate}}
                    </button>
                    <span *ngIf="item.status === 'Initializing'">
                            <clr-spinner clrAssertive clrInline></clr-spinner>
                        {{"APP_INITIALIZING" | translate}}
                    </span>
                    <span *ngIf="item.status === 'Terminating'">
                            <clr-spinner clrAssertive clrInline></clr-spinner>
                        {{"APP_TERMINATING" | translate}}
                    </span>
                    <button class="btn btn-sm" *ngIf="item.status==='Running' && item.frame" (click)="openFrame(item)">
                        {{"APP_GO"|translate}}
                    </button>
                    <button class="btn btn-sm btn-danger" *ngIf="item.status==='Running'" (click)="onDisable(item)">
                        {{"APP_DISABLE"|translate}}
                    </button>
                    <span *ngIf="item.status === 'Running' && !item.frame">
                        {{"APP_RUNNING" | translate}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>