<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2> {{ 'APP_MULTI_CLUSTER' | translate }}</h2>
        <app-multi-cluster-repository-list (createEvent)="openCreate()"
                                           (deleteEvent)="openDelete($event)"
                                           (errorDetailEvent)="openErrorDetail($event)"></app-multi-cluster-repository-list>
        <app-multi-cluster-repository-create (created)="refresh()"></app-multi-cluster-repository-create>
        <app-multi-cluster-repository-delete (deleted)="refresh()"></app-multi-cluster-repository-delete>
        <app-multi-cluster-repository-error-detail></app-multi-cluster-repository-error-detail>
    </div>
</div>