<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2> {{ 'APP_DEPLOY_PLAN' | translate }}</h2>
</div>
<nav class="subnav sub-nav-bg-color">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="region"
               routerLinkActive="active">{{ 'APP_REGION' | translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="zone"
               routerLinkActive="active">{{ 'APP_ZONE' | translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="plan"
               routerLinkActive="active">{{ 'APP_PLAN' | translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="vm-config"
               routerLinkActive="active">{{ 'APP_VM_CONFIG' | translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="ip-pool"
               routerLinkActive="active">{{ 'APP_IP_POOL' | translate}}</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
