<clr-modal [(clrModalOpen)]="opened" [clrModalSize]="'lg'">
  <h3 class="modal-title">伸缩</h3>
  <div class="modal-body">
    <form clrForm #form='ngForm'>
      <clr-input-container>
        <label>Worker 数量</label>
        <input clrInput type="number" min="1" [(ngModel)]="worker_size" name="worker_size">
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="close()">取消</button>
    <button type="button" class="btn btn-primary" [disabled]="form.invalid || worker_size === cluster.worker_size"
            (click)="onConfirm()">确认
    </button>
  </div>
</clr-modal>
