<clr-main-container>
  <div class="alert alert-app-level alert-info" role="alert" *ngIf="showAlert">
      <div class="alert-items">
          <div class="alert-item static">
              <div class="alert-icon-wrapper">
                  <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
              </div>
              <div class="alert-text">
                  请在设置页面填写本机IP
              </div>
              <div class="alert-actions">
                  <button type="button" class="btn btn-icon" aria-label="settings" (click)="toSetting()">
                      <clr-icon shape="cog"></clr-icon>
                  </button>
              </div>
          </div>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="closeAlert()" >
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
      </button>
  </div>
  <app-header></app-header>
  <div class="content-container">
    <div class="content-area">
      <app-common-alert></app-common-alert>
      <router-outlet></router-outlet>
    </div>
    <app-navigator></app-navigator>
  </div>
</clr-main-container>
