<div class="content-container" style="height: 100%;">
    <nav class="sidenav">
        <section class="sidenav-content">
            <section class="nav-group">
                <ul class="nav-list">
                    <li>
                        <a class="nav-link" (click)="changeTab('strategy')" routerLinkActive="active" [ngClass]="{'active':tab == 'strategy'}">
                            <div class="nav-slide-item">
                                {{"APP_BACKUP_RESTORE_TAB" |translate}}
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" (click)="changeTab('log')" routerLinkActive="active" [ngClass]="{'active':tab == 'log'}">
                            <div class="nav-slide-item">
                                {{"APP_LOGGING" |translate}}
                            </div>
                        </a>
                    </li>
                </ul>
            </section>
        </section>
    </nav>
    <div class="content-area">
        <div *ngIf="tab === 'strategy'">
            <app-backup-strategy></app-backup-strategy>
        </div>
        <div *ngIf="tab === 'log'">
            <app-backup-log></app-backup-log>
        </div>
    </div>
</div>
