/* You can add global styles to this file, and also import other style files */
.app-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -54px;
    margin-left: -54px;
    width: 108px !important;
    height: 108px !important;
}

/*app-project {*/
  /*flex: 1 1 auto;*/
/*}*/

app-navigator {
  display: flex;
  order: -1;
}

label span.required {
  font-size: .58479532rem;
  line-height: .5rem;
  color: #c92100;
  margin-left: .25rem;
}

/*app-project-detail {*/
  /*order: 0;*/
  /*flex: 1 1 auto;*/
  /*display: flex;*/
/*}*/
