<clr-modal [(clrModalOpen)]="opened" [clrModalClosable]="false">
    <h3 class="modal-title">{{'APP_CHANGE_PASSWORD'|translate}}</h3>
    <div class="modal-body modal-height">
        <form autocomplete="off" clrForm #passForm="ngForm">
            <clr-input-container>
                <label>{{'APP_OLD_PASSWORD'|translate}}</label>
                <input clrInput size=45 type="password" minlength="6" maxlength="30"
                       [(ngModel)]="original" name="old" required>
            </clr-input-container>
            <clr-input-container>
                <label>{{'APP_NEW_PASSWORD'|translate}}</label>
                <input clrInput size=45 type="password" minlength="6" maxlength="30"  [(ngModel)]="password" name="name"
                       pattern="{{passwordPattern}}" (change)="checkPassword()" required>
                <clr-control-helper
                        *ngIf="!checkPassword() && password &&confirmPassword">{{'APP_PASSWORD_HELP_MSG'|translate}}</clr-control-helper>
                <clr-control-error>{{'APP_PASSWORD_ERROR_MSG'|translate}}</clr-control-error>
            </clr-input-container>
            <clr-input-container>
                <label>{{'APP_CONFIRM_NEW_PASSWORD'|translate}}</label>
                <input clrInput size=45 minlength="6" maxlength="30" type="password" [(ngModel)]="confirmPassword"
                       name="name"
                       pattern="{{passwordPattern}}" (change)="checkPassword()" required>
                <clr-control-helper *ngIf="!checkPassword() && password &&confirmPassword">{{'APP_PASSWORD_HELP_MSG'|translate}}</clr-control-helper>
                <clr-control-error>{{'APP_PASSWORD_ERROR_MSG'|translate}}</clr-control-error>
            </clr-input-container>
        </form>
        <app-modal-alert></app-modal-alert>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="onCancel()">{{'APP_CANCEL'|translate}}</button>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]="passForm.invalid || !checkPassword()">
            <i *ngIf="submitGoing" class="fa fa-spinner fa-pulse"></i>{{'APP_COMMIT'|translate}}
        </button>
    </div>
</clr-modal>
