<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2> {{ 'APP_SYSTEM_SETTING' | translate }}</h2>
</div>
<nav class="subnav sub-nav-bg-color">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="registry-setting"
               routerLinkActive="active">{{ 'APP_REGISTRY' | translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="credential"
               routerLinkActive="active">{{ 'APP_CREDENTIAL' | translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="system"
               routerLinkActive="active">NTP</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="backupAccounts"
               routerLinkActive="active">{{ 'APP_BACKUP' | translate}}</a>
        </li>
        <li class="nav-item" *ngIf="hasLicense">
            <a class="nav-link" routerLink="email"
               routerLinkActive="active">{{ 'APP_MSG_EMAIL' | translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="license"
               routerLinkActive="active">{{ 'APP_LICENSE' | translate}}</a>
        </li>
        <li class="nav-item" *ngIf="hasLicense">
            <a class="nav-link" routerLink="theme"
               routerLinkActive="active">{{ 'APP_THEME' | translate}}</a>
        </li>
        <li class="nav-item" *ngIf="hasLicense">
            <a class="nav-link" routerLink="message"
               routerLinkActive="active">{{ 'APP_MESSAGE' | translate}}</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
