#cloud-config
disable_root: {{ openshift_openstack_disable_root }}

system_info:
  default_user:
    name: {{ openshift_openstack_user }}
    sudo: ["ALL=(ALL) NOPASSWD: ALL"]

write_files:
  - path: /etc/sudoers.d/00-openshift-no-requiretty
    permissions: 440
    content: |
      Defaults:openshift !requiretty

{% if openshift_openstack_provision_user_commands %}
  - path: /root/ansible_install.sh
    permissions: '0544'
    content: |
{% for cmd in openshift_openstack_provision_user_commands %}
{% if cmd is string %}
      {{ cmd }}
{% elif cmd is iterable %}
      {{ cmd|join(' ') }}
{% endif %}
{% endfor %}

runcmd:
  - /root/ansible_install.sh
{% endif %}
