<clr-datagrid [clrDgLoading]="false" [(clrDgSelected)]="selected">
    <clr-dg-action-bar>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-secondary" (click)="markAsRead()">
                <clr-icon shape="check" size="16"></clr-icon>
                {{'APP_MARK_AS_READ'|translate}}
            </button>
            <button type="button" class="btn btn-sm btn-secondary" (click)="onDelete()" [disabled]="selected.length<1">
                <clr-icon shape="close"></clr-icon>
                {{"APP_DELETE"|translate}}
            </button>
        </div>
    </clr-dg-action-bar>
    <clr-dg-column>
        {{'APP_MSG_CONTENT'|translate}}
    </clr-dg-column>
    <clr-dg-column>
        {{'APP_TYPE'|translate}}
    </clr-dg-column>
    <clr-dg-column>
        {{'APP_MSG_LEVEL'|translate}}
    </clr-dg-column>
    <clr-dg-column>
        {{'APP_STATUS'|translate}}
    </clr-dg-column>
    <clr-dg-column>
        {{'APP_CREATED_DATE'|translate}}
    </clr-dg-column>

    <clr-dg-row *clrDgItems="let item of items" [clrDgItem]="item">
        <clr-dg-cell><a (click)="onDetail(item)" href="javascript:void(0)">
            <clr-icon shape="envelope"></clr-icon>
            More Content</a></clr-dg-cell>
        <clr-dg-cell>{{item.type}}</clr-dg-cell>
        <clr-dg-cell>{{item.level}}</clr-dg-cell>
        <clr-dg-cell [ngStyle]="{'color': readColor(item.isRead)}">{{item.isRead}}</clr-dg-cell>
        <clr-dg-cell>{{item.createdAt}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
        <clr-dg-pagination #pagination [(clrDgPage)]="page" [clrDgPageSize]="size" [clrDgTotalItems]="total"
                           (clrDgPageChange)="refresh()">
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            {{"APP_PAGER_TOTAL"|translate}} {{pagination.totalItems}} {{"APP_USER"|translate}}
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>
