alertmanager:
  persistentVolume:
    enabled: true
  service:
    type: ClusterIP

server:
  persistentVolume:
    enabled: true
  service:
    type: NodePort

pushgateway:
  enabled: false

kubeStateMetrics:
  image:
    repository: {{registry_prefix}}:{{registry_port}}/{{kube-state-metrics_image}}:{{kube-state-metrics_version}}
