<clr-modal [(clrModalOpen)]="opened">
    <h3 class="modal-title">{{'APP_ADD'|translate}}</h3>
    <div class="modal-body modal-height">
        <app-modal-alert></app-modal-alert>
        <form clrForm #noticeForm='ngForm'>
            <clr-input-container>
                <label>Content</label>
                <input clrInput [size]="32" name="content" [(ngModel)]="item.content" type="text" required/>
            </clr-input-container>
            <clr-select-container>
                <label>Notice Type</label>
                <select clrSelect name="type" [(ngModel)]="item.type" required>
                    <option value="cluster">cluster notice</option>
                    <option value="KO_System">KO System notice</option>
                </select>
            </clr-select-container>
            <clr-select-container>
                <label>Level</label>
                <select clrSelect name="level" [(ngModel)]="item.level" required>
                    <option value="alert">Alert</option>
                    <option value="info">Information</option>
                </select>
            </clr-select-container>
            <clr-toggle-container>
                <label>is Read</label>
                <clr-toggle-wrapper>
                    <input clrCheckbox clrToggle type="checkbox" name="isRead" value="true" [(ngModel)]="item.isRead">
                </clr-toggle-wrapper>
            </clr-toggle-container>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="onCancel()"
                [disabled]="isSubmitGoing">{{'APP_CANCEL'|translate}}</button>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()"
                [disabled]="noticeForm.invalid">{{'APP_COMMIT'|translate}}</button>
    </div>
</clr-modal>
