apiVersion: v1
kind: Secret
metadata:
  name: {{obj_name}}
{% if labels is defined%}
  labels:
{% for key, value in labels.items() %}
    {{key}}: {{value}}
{% endfor %}
{% endif %}
type: Opaque
data:
{% for s in secrets %}
  "{{s.key}}" : "{{s.value | b64encode}}"
{% endfor %}
