<clr-modal [(clrModalOpen)]="deleteModal" [clrModalSize]="'lg'">
  <h3 class="modal-title">确认删除</h3>
  <div class="modal-body">
    <p>删除操作不可恢复,确认要删除集群:
      <span *ngFor="let cluster of clusters">{{cluster.name}}</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="confirmDelete()">确认</button>
    <button type="button" class="btn" (click)="deleteModal = false">取消</button>
  </div>
</clr-modal>

<clr-datagrid [clrDgLoading]="loading" [clrDgSelected]="selectedClusters">
  <clr-dg-action-bar>
    <button type="button" class="btn btn-sm btn-secondary" (click)="addNewCluster()">
      <clr-icon shape="plus" size="16"></clr-icon>
      添加
    </button>
    <button type="button" class="btn btn-sm btn-secondary" (click)="onDeleted()"
            [disabled]="selectedClusters.length == 0">
      <clr-icon shape="close"></clr-icon>
      删除
    </button>

    <clr-dropdown>
      <button type="button" class="btn btn-sm btn-secondary" [disabled]="selectedClusters.length !== 1"
              clrDropdownTrigger>
        操作
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
        <div *ngFor="let op of selectedClusters[0].operations">
          <button type="button" (click)="handleEvent(selectedClusters[0].name,op)"
                  clrDropdownItem>
            {{op.comment}}
          </button>
        </div>
      </clr-dropdown-menu>
    </clr-dropdown>
  </clr-dg-action-bar>
  <clr-dg-column>名称</clr-dg-column>
  <clr-dg-column>离线包</clr-dg-column>
  <clr-dg-column>部署模型</clr-dg-column>
  <clr-dg-column>创建时间</clr-dg-column>
  <clr-dg-column>状态</clr-dg-column>
  <clr-dg-column>备注</clr-dg-column>
  <clr-dg-row *clrDgItems="let cluster of clusters" [clrDgItem]="cluster">
    <clr-dg-cell><a routerLink="{{cluster.name}}">{{cluster.name}}</a></clr-dg-cell>
    <clr-dg-cell>
      {{cluster.resource + '-' + cluster.resource_version}}
      &nbsp;<img [src]="getLogo(cluster.resource)" class="logo">
    </clr-dg-cell>
    <clr-dg-cell>{{cluster.template}}</clr-dg-cell>
    <clr-dg-cell>{{cluster.date_created}}</clr-dg-cell>
    <clr-dg-cell>{{getStatusComment(cluster.status)}}</clr-dg-cell>
    <clr-dg-cell>{{cluster.comment}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>

  </clr-dg-footer>

</clr-datagrid>

