<clr-modal [(clrModalOpen)]="openToken" clrModalSize="xl">
  <h3 class="modal-title">Cluster Token</h3>
  <div class="modal-body">
    <textarea rows="20" cols="128" *ngIf="token" [(ngModel)]="token"></textarea>
    <div *ngIf="!token">
      Cluster Token 获取中......<i class="fa fa-spinner fa-pulse"></i>
    </div>
  </div>
  <div class="modal-footer">
    <!--<button type="button" class="btn btn-primary" ngxClipboard [cbContent]="token" (cbOnSuccess)="openToken=false">复制</button>-->
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="openChangeStatus" clrModalSize="lg">
  <h3 class="modal-title">重置状态</h3>
  <div class="modal-body">
    <p>重置状态前请确认集群状态是否健康。</p>
    <form clrForm #statusForm='ngForm'>
      <clr-select-container>
        <label>状态</label>
        <select clrSelect [(ngModel)]="status" name="status" required>
          <option value="">请选择</option>
          <option value="RUNNING">运行中</option>
          <option value="READY">就绪</option>
        </select>
      </clr-select-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" (click)="onCancel()">取消</button>
    <button type="button" class="btn btn-primary" (click)="onConfirm()" [disabled]="statusForm.invalid">确认</button>
  </div>
</clr-modal>

<app-confirm-alert (confirm)="handleEvent()"></app-confirm-alert>
<app-webkubectl></app-webkubectl>
<app-upgrade (confirm)="handleUpgrade()"></app-upgrade>
<div class="clr-row">
  <div class="clr-col-12">
    <div class="card">
      <div class="card-header">
        描述
      </div>
      <div class="card-block">
        <ul class="list-unstyled">
          <li><b>集群名称:</b>{{currentCluster.name}}</li>
          <li><b>kubernetes 版本: </b>{{currentCluster.package}}</li>
          <li *ngIf="currentCluster.plan"><b>区域: </b>{{currentCluster.region}}</li>
          <li *ngIf="currentCluster.plan"><b>可用区: </b>{{currentCluster.zones}}{{currentCluster.zone}}</li>
          <li><b>部署模式:</b> {{getDeployTypeComment(currentCluster.deploy_type)}}</li>
          <li><b>存储类型: </b>{{currentCluster.persistent_storage}}</li>
          <li *ngIf="currentCluster.persistent_storage==='nfs'"><b>存储: </b>{{currentCluster.configs['nfs']}}</li>
          <li *ngFor="let info of clusterInfos"><b>{{info.name}}:</b> {{info.value}}</li>
          <li><b>创建时间:</b> {{currentCluster.date_created | date: 'yyyy-MM-dd HH:mm:ss'}}
          </li>
        </ul>
      </div>
      <div class="card-footer">
        <div class="clr-row">
          <div class="clr-col-9">
            <button class="btn btn-outline" (click)="onInstall()"
                    [disabled]="currentCluster.status === 'RUNNING' || currentCluster.status == 'INSTALLING'">安装
            </button>
            <button class="btn btn-outline" (click)="onUninstall()"
                    [disabled]="currentCluster.status === 'READY'  || currentCluster.status == 'INSTALLING'">">卸载
            </button>
            <button class="btn btn-outline" (click)="onUpgrade()" [disabled]="currentCluster.status !== 'RUNNING'">升级
            </button>

            <button class="btn btn-outline" (click)="onDownload()" [disabled]="currentCluster.status !== 'RUNNING'">
              下载kube-config
            </button>
            <button class="btn btn-outline" (click)="onGetToken()" [disabled]="currentCluster.status !== 'RUNNING'">
              获取Token
            </button>
            <button class="btn btn-outline" (click)="openWebkubectl()" [disabled]="currentCluster.status !== 'RUNNING'">
              WEBKUBECTL
            </button>
            <button class="btn btn-outline" (click)="openChangeStatus=true">
              重置状态
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

