{
	"plugin": "journald",
	"pluginConfig": {
		"source": "dockerd"
	},
	"logPath": "/var/log/journal",
	"lookback": "5m",
	"bufferSize": 10,
	"source": "docker-monitor",
	"metricsReporting": true,
	"conditions": [
		{
			"type": "CorruptDockerOverlay2",
			"reason": "NoCorruptDockerOverlay2",
			"message": "docker overlay2 is functioning properly"
		}
	],
	"rules": [
		{
			"type": "temporary",
			"reason": "CorruptDockerImage",
			"pattern": "Error trying v2 registry: failed to register layer: rename {{ STORAGE_DIR }}/image/(.+) {{ STORAGE_DIR }}/image/(.+): directory not empty.*"
		},
		{
			"type": "permanent",
			"condition": "CorruptDockerOverlay2",
			"reason": "CorruptDockerOverlay2",
			"pattern": "returned error: readlink {{ STORAGE_DIR }}/overlay2.*: invalid argument.*"
		}
	]
}
