{
	"plugin": "journald",
	"pluginConfig": {
		"source": "systemd"
	},
	"logPath": "/var/log/journal",
	"lookback": "5m",
	"bufferSize": 10,
	"source": "systemd-monitor",
	"metricsReporting": true,
	"conditions": [],
	"rules": [
		{
			"type": "temporary",
			"reason": "KubeletStart",
			"pattern": "Started Kubernetes kubelet."
		},
		{
			"type": "temporary",
			"reason": "DockerStart",
			"pattern": "Starting Docker Application Container Engine..."
		},
		{
			"type": "temporary",
			"reason": "ContainerdStart",
			"pattern": "Starting containerd container runtime..."
		}
	]
}
