<clr-modal [(clrModalOpen)]="open" [clrModalSize]="'xl'" [clrModalClosable]=false>
  <h3 class="modal-title">日志详情</h3>
  <div class="modal-body" *ngIf="log">
    <div class="card-block">
      <ul class="list-unstyled">
        <li><b style="margin-right: 16px">名称:</b>{{log.name}}</li>
        <li><b style="margin-right: 16px">级别:</b>{{log.level}}</li>
        <li><b style="margin-right: 16px">文件名:</b>{{log.filename}}</li>
        <li><b style="margin-right: 16px">方法名:</b>{{log.funcName}}</li>
        <li><b style="margin-right: 16px">行号:</b>{{log.lineno}}</li>
        <li><b style="margin-right: 16px">消息:</b>{{log.message}}</li>
        <li><b style="margin-right: 16px">主机IP:</b>{{log.host_ip}}</li>
        <li><b style="margin-right: 16px">时间:</b>{{log.timestamp | date: 'yyyy-MM-dd HH:mm:ss'}}</li>
        <li><b style="margin-right: 16px">堆栈信息:</b></li>
        <pre>{{log.exc_text}}</pre>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" (click)="cancel()">取消</button>
  </div>
</clr-modal>
