<clr-datagrid>
  <clr-dg-column>名称</clr-dg-column>
  <clr-dg-column>目标类型</clr-dg-column>
  <clr-dg-column>目标</clr-dg-column>
  <clr-dg-column>开始时间</clr-dg-column>
  <clr-dg-column>完成时间</clr-dg-column>
  <clr-dg-column>状态</clr-dg-column>
  <clr-dg-column>创建时间</clr-dg-column>


  <clr-dg-row>
    <clr-dg-cell>执行脚本</clr-dg-cell>
    <clr-dg-cell>主机</clr-dg-cell>
    <clr-dg-cell>全部主机</clr-dg-cell>
    <clr-dg-cell>2020-04-04</clr-dg-cell>
    <clr-dg-cell>2020-04-05</clr-dg-cell>
    <clr-dg-cell>运行中</clr-dg-cell>
    <clr-dg-cell>2020-04-05</clr-dg-cell>
  </clr-dg-row>

</clr-datagrid>

