apiVersion: v1
kind: ServiceAccount
metadata:
  name: metrics-server
  namespace: "{{ openshift_metrics_server_project }}"
  labels:
    kubernetes.io/cluster-service: "true"
    metrics-server-infra: support
