<clr-wizard #wizard [(clrWizardOpen)]="createOpened" [clrWizardClosable]="false" (clrWizardOnCancel)="onCancel()"
            (clrWizardOnFinish)="onSubmit()">
  <clr-wizard-title>创建可用区</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">取消</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">上一步</clr-wizard-button>
  <clr-wizard-button [type]="'next'">下一步</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">完成</clr-wizard-button>

  <clr-wizard-page [clrWizardPageNextDisabled]="basicForm.invalid"
                   (clrWizardPageOnCommit)="onBasicFormCommit()">
    <ng-template clrPageTitle>基本信息</ng-template>
    <form clrForm #basicForm="ngForm">
      <clr-input-container>
        <label>名称</label>
        <input clrInput size=45 type="text" [(ngModel)]="item.name" name="name" (blur)="nameOnBlur()" required>
        <clr-control-error *ngIf="nameCtrl&&nameCtrl.errors&&nameCtrl.errors.required">此字段为必填项</clr-control-error>
        <clr-control-error *ngIf="nameCtrl&&nameCtrl.errors&&nameCtrl.errors.repeat">名称重复</clr-control-error>
      </clr-input-container>
      <clr-select-container>
        <label>区域</label>
        <select clrSelect [(ngModel)]="item.region" name="provider" (change)="onRegionChange()" required>
          <option value="">请选择</option>
          <option *ngFor="let region of regions" [value]="region.name">{{region.name}}</option>
        </select>
        <clr-control-error>此字段为必填项</clr-control-error>
      </clr-select-container>
    </form>
  </clr-wizard-page>
  <clr-wizard-page [clrWizardPageNextDisabled]="paramsForm.invalid">
    <ng-template clrPageTitle>配置参数</ng-template>
    <form clrForm #paramsForm="ngForm">
      <h3>计算</h3>
      <hr/>
      <clr-select-container>
        <label>集群</label>
        <select [(ngModel)]="item.cluster" name="compute" (change)="onComputeChange()" required clrSelect>
          <option [value]="">请选择</option>
          <option *ngFor="let zone of cloudZones" [value]="zone.cluster">{{zone.cluster}}</option>
        </select>
        <clr-control-error>此字段为必填项</clr-control-error>
        <clr-control-helper>选择用于运行虚拟机的计算集群</clr-control-helper>
      </clr-select-container>
      <div *ngIf="cloudZone">
        <clr-select-container>
          <label>资源池</label>
          <select [(ngModel)]="item.cloud_zone" name="resourcePoll" required clrSelect>
            <option [value]="">请选择</option>
            <option *ngFor="let rp of cloudZone.resourcePool" [value]='rp'>{{rp}}</option>
          </select>
          <clr-control-error>此字段为必填项</clr-control-error>
          <clr-control-helper>选择用于运行虚拟机的资源池, Resource 为 cluster 下默认资源池</clr-control-helper>
        </clr-select-container>
      </div>
      <div *ngIf="item.cloud_zone">
        <h3>存储</h3>
        <hr/>
        <clr-select-container>
          <label>存储器</label>
          <select [(ngModel)]="item.vars['vc_storage']" name="storage" required clrSelect>
            <option [value]="">请选择</option>
            <option *ngFor="let storage of cloudZone.storages" [value]="storage.name">{{storage.name}}</option>
          </select>
          <clr-control-error>此字段为必填项</clr-control-error>
          <clr-control-helper>选择用于运行虚拟机的存储器,如要在k8s集群中使用vsan动态创建pv请选择支持vsan类型的存储器</clr-control-helper>
        </clr-select-container>
        <h3>网络</h3>
        <hr/>
        <clr-select-container>
          <label>网络适配器</label>
          <select [(ngModel)]="item.vars['vc_network']" name="network" required clrSelect>
            <option [value]="">请选择</option>
            <option *ngFor="let network of cloudZone.networks" [value]="network">{{network}}</option>
          </select>
          <clr-control-error>此字段为必填项</clr-control-error>
          <clr-control-helper>选择用于连接虚拟机的网络适配器</clr-control-helper>
        </clr-select-container>
        <clr-input-container>
          <label>起始IP</label>
          <input clrInput size=45 type="text" [(ngModel)]="item.vars['vc_ip_start']" name="ip_start" required>
          <clr-control-helper>例如: 172.16.10.1</clr-control-helper>
          <clr-control-error>此字段为必填项</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <label>截止IP</label>
          <input clrInput size=45 type="text" [(ngModel)]="item.vars['vc_ip_end']" name="ip_end" required>
          <clr-control-error>此字段为必填项</clr-control-error>
          <clr-control-helper>例如: 172.16.10.50</clr-control-helper>
        </clr-input-container>
        <clr-input-container>
          <label>子网掩码</label>
          <input clrInput size=45 type="text" [(ngModel)]="item.vars['net_mask']" name="gateway" required>
          <clr-control-error>此字段为必填项</clr-control-error>
          <clr-control-helper>例如: 255.255.255.0</clr-control-helper>
        </clr-input-container>
        <clr-input-container>
          <label>网关IP</label>
          <input clrInput size=45 type="text" [(ngModel)]="item.vars['vc_gateway']" name="gateway" required>
          <clr-control-error>此字段为必填项</clr-control-error>
        </clr-input-container>
      </div>
    </form>
  </clr-wizard-page>
</clr-wizard>



