<clr-modal [(clrModalOpen)]="opened" [clrModalClosable]="false">
    <h3 class="modal-title">{{'APP_GRANT_BACKUP_ACCOUNT'|translate}}</h3>
    <div class="modal-body modal-height">
        <app-modal-alert></app-modal-alert>
        <form clrForm #hostForm='ngForm'>

            <clr-checkbox-container>
                <label>{{'APP_HOST'|translate}}</label>
                <clr-checkbox-wrapper *ngFor="let item of projects">
                    <input type="checkbox" clrCheckbox name="proname" [(ngModel)]="item.checked"/>
                    <label>{{item.name}}</label>
                </clr-checkbox-wrapper>
            </clr-checkbox-container>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="onCancel()" [disabled]="isSubmitGoing">{{'APP_CANCEL'|translate}}</button>
        <button type="submit" class="btn btn-primary" [clrLoading]="isSubmitGoing" (click)="onSubmit()" [disabled]="hostForm.invalid">{{'APP_COMMIT'|translate}}</button>
    </div>
</clr-modal>
