<a class="backStyle" (click)="backToCluster()">&lt; 集群</a>
<nav class="subnav sub-nav-bg-color">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="overview" routerLinkActive="active">概览</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="nodes" routerLinkActive="active">节点</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="namespaces" routerLinkActive="active">
                {{"APP_NAMESPACE"|translate}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="storages" routerLinkActive="active">
                {{"APP_STORAGE"|translate}}
            </a>
        </li>
        <!--        <li class="nav-item">-->
        <!--            <a class="nav-link" href="javascript:void(0)">事件</a>-->
        <!--        </li>-->
        <li class="nav-item" *ngIf="ready&&showApp('dashboard')">
            <a class="nav-link" href="javascript:void(0)" routerLink="dashboard" routerLinkActive="active">控制台</a>
        </li>
        <li class="nav-item" *ngIf="ready&&showApp('registry') || showApp('chartmuseum')">
            <a class="nav-link" href="javascript:void(0)" routerLink="repository" routerLinkActive="active">仓库</a>
        </li>
        <li class="nav-item" *ngIf="ready&&showApp('efk')">
            <a class="nav-link" href="javascript:void(0)" routerLink="logging" routerLinkActive="active">日志</a>
        </li>
        <li class="nav-item" *ngIf="ready&&showApp('prometheus')">
            <a class="nav-link" href="javascript:void(0)" routerLink="monitor" routerLinkActive="active">监控</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" routerLink="tool" routerLinkActive="active">工具</a>
        </li>
        <!--        <li class="nav-item">-->
        <!--            <a class="nav-link" href="javascript:void(0)">安全合规</a>-->
        <!--        </li>-->
    </ul>
</nav>
<router-outlet></router-outlet>
