<a class="backStyle" (click)="backToCluster()">&lt; {{"APP_CLUSTER"|translate}}</a>
<nav class="subnav sub-nav-bg-color">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="overview" routerLinkActive="active">{{"APP_OVERVIEW"|translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="nodes" routerLinkActive="active">{{"APP_NODE"|translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="namespaces" routerLinkActive="active">
                {{"APP_NAMESPACE"|translate}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="storages" routerLinkActive="active">
                {{"APP_STORAGE"|translate}}
            </a>
        </li>
        <li class="nav-item" *ngIf="ready&&showApp('efk')">
            <a class="nav-link" href="javascript:void(0)" routerLink="logging"
               routerLinkActive="active">{{"LOGGING"|translate}}</a>
        </li>
        <li class="nav-item" *ngIf="ready&&showApp('prometheus')">
            <a class="nav-link" href="javascript:void(0)" routerLink="monitor"
               routerLinkActive="active">{{"MONITOR"|translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" routerLink="tool"
               routerLinkActive="active">{{"APP_TOOLS"|translate}}</a>
        </li>
        <li class="nav-item" *ngIf="currentCluster.source !='external'">
            <a class="nav-link" href="javascript:void(0)" routerLink="backup"
               routerLinkActive="active">{{'APP_BACKUP'|translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="logs" routerLinkActive="active">{{"APP_HISTORY"|translate}}</a>
        </li>
        <!--        <li class="nav-item">-->
        <!--            <a class="nav-link" href="javascript:void(0)">安全合规</a>-->
        <!--        </li>-->
    </ul>
</nav>
<router-outlet></router-outlet>
