<a class="backStyle" (click)="backToCluster()">&lt; 集群</a>
<nav class="subnav sub-nav-bg-color">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="overview" routerLinkActive="active">概览</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="nodes" routerLinkActive="active">节点</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">存储</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">工作负载</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">服务与路由</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">配置</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">事件</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">日志</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">监控</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">安全合规</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
