<clr-modal [(clrModalOpen)]="opened" [clrModalSize]="'lg'" [clrModalClosable]='true'>
    <h3 class="modal-title">{{'APP_MANIFEST'|translate}}{{'APP_DETAIL'|translate}}</h3>
    <div class="modal-body" *ngIf="item">
        <div>
            <h5>{{item.name}}</h5>
            <hr>
            <table class="table table-vertical">
                <tbody>
                <tr *ngFor="let nameVersion of item.coreVars">
                    <th style="width: 50%;">{{nameVersion.name}}</th>
                    <td>{{nameVersion.version}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h5>network</h5>
            <hr>
            <table class="table table-vertical">
                <tbody>
                <tr *ngFor="let nameVersion of item.networkVars">
                    <th style="width: 50%;">{{nameVersion.name}}</th>
                    <td>{{nameVersion.version}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h5>tool</h5>
            <hr>
            <table class="table table-vertical">
                <tbody>
                <tr *ngFor="let nameVersion of item.toolVars">
                    <th style="width: 50%;">{{nameVersion.name}}</th>
                    <td>{{nameVersion.version}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h5>other</h5>
            <hr>
            <table class="table table-vertical">
                <tbody>
                <tr *ngFor="let nameVersion of item.otherVars">
                    <th style="width: 50%;">{{nameVersion.name}}</th>
                    <td>{{nameVersion.version}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</clr-modal>
