apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ storageClassName }}
provisioner: kubernetes.io/rbd
reclaimPolicy: Delete
volumeBindingMode: Immediate
parameters:
  monitors: {{ ceph_monitor }}
  adminId: {{ ceph_admin_id }}
  adminSecretName: ceph_admin_secret
  adminSecretNamespace: kube-system
  pool: {{ ceph_osd_pool }}
  userId: {{ ceph_user_id }}
  userSecretName: ceph_user_secret
  fsType: {{ ceph_fsType }}
  imageFormat: "{{ imageFormat }}"
{% if ceph_imageFeatures and ceph_imageFeatures == 'layering' %}
  imageFeatures: "{{ ceph_imageFeatures }}"
{% endif %}