<app-storage-provisioner-list [currentCluster]="currentCluster"
                              (createEvent)="openCreate()"
                              (syncEvent)="openSync($event)"
                              (deleteEvent)="openDelete($event)"></app-storage-provisioner-list>
<app-storage-provisioner-create [currentCluster]="currentCluster"
                                (selected)="openSelected($event)"></app-storage-provisioner-create>
<app-storage-provisioner-sync [clusterName]="currentCluster.name"
                                (synced)="refresh()"></app-storage-provisioner-sync>
<app-storage-provisioner-delete [currentCluster]="currentCluster"
                                (deleted)="refresh()"></app-storage-provisioner-delete>
<app-storage-provisioner-create-nfs [currentCluster]="currentCluster"
                                    (created)="refresh()"></app-storage-provisioner-create-nfs>
<app-storage-provisioner-create-external-ceph [currentCluster]="currentCluster"
                                              (created)="refresh()"></app-storage-provisioner-create-external-ceph>
<app-storage-provisioner-create-rook-ceph [currentCluster]="currentCluster"
                                          (created)="refresh()"></app-storage-provisioner-create-rook-ceph>
<app-storage-provisioner-create-vsphere [currentCluster]="currentCluster"
                                        (created)="refresh()"></app-storage-provisioner-create-vsphere>
<app-storage-provisioner-create-ocean-stor [currentCluster]="currentCluster"
                                           (created)="refresh()"></app-storage-provisioner-create-ocean-stor>
