<clr-modal [(clrModalOpen)]="opened">
    <h3 class="modal-title">{{'APP_ADD'|translate}}</h3>
    <div class="modal-body modal-height">
        <app-modal-alert></app-modal-alert>
        <form clrForm #itemForm='ngForm'>
            {{'APP_CLUSTER'|translate}}
            <l-select2 id="clusters" name="clusters" [(ngModel)]=clusters [data]="selections"
                       [options]="options"
                       required></l-select2>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="onCancel()"
                [disabled]="isSubmitGoing">{{'APP_CANCEL'|translate}}</button>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()"
                [disabled]="itemForm.invalid||isSubmitGoing">{{'APP_COMMIT'|translate}}
        </button>
    </div>
</clr-modal>
