apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: scheduledreports.metering.openshift.io
  annotations:
    catalog.app.coreos.com/displayName: "Chargeback Scheduled Report"
    catalog.app.coreos.com/description: "A metering report that runs on a scheduled interval"
spec:
  group: metering.openshift.io
  version: v1alpha1
  scope: Namespaced
  names:
    plural: scheduledreports
    kind: ScheduledReport
