<clr-vertical-nav [clrVerticalNavCollapsible]="true">
  <a clrVerticalNavLink routerLinkActive="active" routerLink="/dashboard">
    <clr-icon shape="dashboard" clrVerticalNavIcon></clr-icon>
    概览
  </a>
  <a clrVerticalNavLink routerLinkActive="active" routerLink="/cluster">
    <clr-icon shape="cluster" clrVerticalNavIcon></clr-icon>
    集群
  </a>
  <a clrVerticalNavLink routerLinkActive="active" routerLink="/host" *ngIf="user.is_superuser">
    <clr-icon shape="host" clrVerticalNavIcon></clr-icon>
    主机
  </a>
  <a clrVerticalNavLink routerLinkActive="active" routerLink="/package" *ngIf="user.is_superuser">
    <clr-icon shape="file-group" clrVerticalNavIcon></clr-icon>
    离线包
  </a>
  <a clrVerticalNavLink routerLinkActive="active" routerLink="/storage" *ngIf="user.is_superuser">
    <clr-icon shape="hard-disk" clrVerticalNavIcon></clr-icon>
    外部存储
  </a>
  <a clrVerticalNavLink routerLinkActive="active" routerLink="/plan" *ngIf="user.is_superuser">
    <clr-icon shape="clock" clrVerticalNavIcon></clr-icon>
    部署计划
  </a>
  <a clrVerticalNavLink routerLinkActive="active" routerLink="/system/log" *ngIf="user.is_superuser">
    <clr-icon shape="align-left-text" clrVerticalNavIcon></clr-icon>
    系统日志
  </a>
  <a clrVerticalNavLink routerLinkActive="active" routerLink="/item" *ngIf="showItem">
    <clr-icon shape="organization" clrVerticalNavIcon></clr-icon>
    项目管理
  </a>
  <a clrVerticalNavLink routerLinkActive="active" routerLink="/user" *ngIf="user.is_superuser">
    <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
    用户管理
  </a>
  <a clrVerticalNavLink routerLinkActive="active" routerLink="/setting" *ngIf="user.is_superuser">
    <clr-icon shape="cog" clrVerticalNavIcon></clr-icon>
    系统设置
  </a>
  <a clrVerticalNavLink routerLinkActive="active" routerLink="/messageCenter">
    <clr-icon shape="envelope" clrVerticalNavIcon></clr-icon>
    消息中心
  </a>
</clr-vertical-nav>
