<clr-vertical-nav [clrVerticalNavCollapsible]="true">
  <a clrVerticalNavLink routerLinkActive="active" routerLink="/dashboard">
    <clr-icon shape="dashboard" clrVerticalNavIcon></clr-icon>
    概览
  </a>
  <a clrVerticalNavLink routerLinkActive="active" routerLink="/item">
    <clr-icon shape="organization" clrVerticalNavIcon></clr-icon>
    项目
  </a>
<!--  <a clrVerticalNavLink routerLinkActive="active" routerLink="/cluster">-->
<!--    <clr-icon shape="cluster" clrVerticalNavIcon></clr-icon>-->
<!--    集群-->
<!--  </a>-->
  <a clrVerticalNavLink routerLinkActive="active" routerLink="/host">
    <clr-icon shape="host" clrVerticalNavIcon></clr-icon>
    主机
  </a>
  <a clrVerticalNavLink routerLinkActive="active" routerLink="/package">
    <clr-icon shape="file-group" clrVerticalNavIcon></clr-icon>
    离线包
  </a>
  <a clrVerticalNavLink routerLinkActive="active" routerLink="/storage">
    <clr-icon shape="hard-disk" clrVerticalNavIcon></clr-icon>
    外部存储
  </a>
  <a clrVerticalNavLink routerLinkActive="active" routerLink="/plan">
    <clr-icon shape="clock" clrVerticalNavIcon></clr-icon>
    部署计划
  </a>
  <a clrVerticalNavLink routerLinkActive="active" routerLink="/system/log">
    <clr-icon shape="align-left-text" clrVerticalNavIcon></clr-icon>
    系统日志
  </a>
  <a clrVerticalNavLink routerLinkActive="active" routerLink="/user">
    <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
    用户管理
  </a>
  <a clrVerticalNavLink routerLinkActive="active" routerLink="/setting">
    <clr-icon shape="cog" clrVerticalNavIcon></clr-icon>
    系统设置
  </a>

</clr-vertical-nav>
