<clr-vertical-nav [clrVerticalNavCollapsible]="true">
  <a clrVerticalNavLink routerLinkActive="active" routerLink="/kubeOperator/cluster">
    <clr-icon shape="cluster" clrVerticalNavIcon></clr-icon>
    集群
  </a>
  <a clrVerticalNavLink routerLinkActive="active" routerLink="/kubeOperator/host">
    <clr-icon shape="host" clrVerticalNavIcon></clr-icon>
    主机
  </a>
  <a clrVerticalNavLink routerLinkActive="active" routerLink="/kubeOperator/storage">
    <clr-icon shape="hard-disk" clrVerticalNavIcon></clr-icon>
    存储
  </a>
  <a clrVerticalNavLink routerLinkActive="active" routerLink="/kubeOperator/plan">
    <clr-icon shape="clock" clrVerticalNavIcon></clr-icon>
    部署计划
  </a>

  <a clrVerticalNavLink routerLinkActive="active" routerLink="/kubeOperator/package">
    <clr-icon shape="file-group" clrVerticalNavIcon></clr-icon>
    离线包
  </a>
  <a clrVerticalNavLink routerLinkActive="active" routerLink="/kubeOperator/setting">
    <clr-icon shape="cog" clrVerticalNavIcon></clr-icon>
    设置
  </a>

</clr-vertical-nav>
