<app-delete-alert [(opened)]="showDelete" [resourceTypeName]="resourceTypeName" [items]="selected"
                  (confirm)="delete()">
</app-delete-alert>
<clr-datagrid [clrDgLoading]="loading" [clrDgSelected]="selected">
  <clr-dg-action-bar>
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-secondary" (click)="addNew()">
        <clr-icon shape="plus" size="16"></clr-icon>
        添加
      </button>
      <button type="button" class="btn btn-sm btn-secondary" (click)="showDelete=true"
              [disabled]="selected.length == 0">
        <clr-icon shape="close"></clr-icon>
        删除
      </button>
    </div>
  </clr-dg-action-bar>
  <clr-dg-column>名称</clr-dg-column>
  <clr-dg-column>monitor</clr-dg-column>
  <clr-dg-column>secrets</clr-dg-column>
  <clr-dg-column>osd存储池</clr-dg-column>
  <clr-dg-column>创建时间</clr-dg-column>

  <clr-dg-row *clrDgItems="let item of items" [clrDgItem]="item">
    <clr-dg-cell>{{item.name}}</clr-dg-cell>
    <clr-dg-cell>{{item.vars['monitor']}}</clr-dg-cell>
    <clr-dg-cell>{{item.vars['secrets']}}</clr-dg-cell>
    <clr-dg-cell>{{item.vars['osd_pool']}}</clr-dg-cell>
    <clr-dg-cell>{{item.date_created | date: 'yyyy-MM-dd HH:mm:ss'}}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
  </clr-dg-footer>
</clr-datagrid>

