<div [hidden]="!showLogModal">
  <div class="modal">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
      <div class="modal-content" style="min-height: 350px">
        <h3 class="modal-header">日志详情</h3>
        <div class="modal-body">
          <clr-spinner *ngIf="loading"></clr-spinner>
          <div #terminal [hidden]="loading"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" (click)="cancel()">关闭</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>
