<clr-datagrid [clrDgLoading]="loading">

  <clr-dg-action-bar>
    <button type="button" class="btn btn-sm btn-secondary" (click)="refresh()" >
      <clr-icon shape="refresh" size="16"></clr-icon>
      刷新
    </button>
  </clr-dg-action-bar>

  <clr-dg-column [clrDgField]="name">名称</clr-dg-column>
  <clr-dg-column [clrDgField]="path">路径</clr-dg-column>
  <clr-dg-column [clrDgField]="is_active">可用</clr-dg-column>


  <clr-dg-row *ngFor="let offline of offlines" [clrDgItem]="offline">
    <clr-dg-cell>{{offline.name}}</clr-dg-cell>
    <clr-dg-cell>{{offline.path}}</clr-dg-cell>
    <clr-dg-cell>{{offline.is_active}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>

  </clr-dg-footer>

</clr-datagrid>
