<div class="content-container" style="height: 100%;">
    <nav class="sidenav">
        <section class="sidenav-content">
            <section class="nav-group">
                <ul class="nav-list">
                    <li>
                        <a class="nav-link" routerLink="deployment" routerLinkActive="active">
                            <div class="nav-slide-item">
                                Deployment
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="statefulset" routerLinkActive="active">
                            <div class="nav-slide-item">
                                StatefulSet
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="daemonset" routerLinkActive="active">
                            <div class="nav-slide-item">
                                DaemonSet
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="job" routerLinkActive="active">
                            <div class="nav-slide-item">
                                Job
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="cornjob" routerLinkActive="active">
                            <div class="nav-slide-item">
                                CornJob
                            </div>
                        </a>
                    </li>
                </ul>
            </section>
        </section>
    </nav>
    <div class="content-area">
        <router-outlet></router-outlet>
    </div>
</div>
