<h5>节点配置</h5>
<!--<clr-datagrid [clrDgLoading]="loading">-->
<!--<clr-dg-column [clrDgField]="name">名称</clr-dg-column>-->
<!--<clr-dg-column [clrDgField]="ip">IP</clr-dg-column>-->
<!--<clr-dg-column [clrDgField]="status">状态</clr-dg-column>-->
<!--<clr-dg-column [clrDgField]="status">角色</clr-dg-column>-->


<clr-stack-view style="margin-top: 20px">
  <clr-stack-block *ngFor="let node of nodes">
    <clr-stack-label>{{node.name}}</clr-stack-label>
    <clr-stack-label>-</clr-stack-label>
    <clr-stack-label>{{node.ip}}</clr-stack-label>
    <clr-stack-content>
      <div class="clr-control-container clr-control-inline">
        <div class="clr-checkbox-wrapper" *ngFor="let role of roles">
          <input type="checkbox" id="{{role.id}}"
                 class="clr-checkbox">
          <label for="{{role.id}}" class="clr-control-label">{{role.name}}</label>
        </div>
      </div>
    </clr-stack-content>
    <clr-stack-block>
      <clr-stack-label style="padding-top: 20px">label name:</clr-stack-label>
      <clr-stack-content>
        <clr-input-container>
          <input clrInput type="text" placeholder="label value">
        </clr-input-container>
      </clr-stack-content>
    </clr-stack-block>
  </clr-stack-block>
</clr-stack-view>

<!--<clr-dg-row *ngFor="let node of nodes" [clrDgItem]="node">-->
<!--<clr-dg-cell>{{node.name}}</clr-dg-cell>-->
<!--<clr-dg-cell>{{node.ip}}</clr-dg-cell>-->
<!--<clr-dg-cell>{{node.status}}</clr-dg-cell>-->

<!--<clr-dg-cell>-->

<!--</clr-dg-cell>-->
<!--</clr-dg-row>-->

<!--<clr-dg-footer>-->

<!--</clr-dg-footer>-->

<!--</clr-datagrid>-->
