<clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="staticBackdrop"
           [clrModalClosable]="closable">
  <h3 class="modal-title">添加用户</h3>
  <div class="modal-body modal-height">
    <form clrForm #hostForm='ngForm'>
      <clr-input-container>
        <label>用户名:</label>
        <input clrInput size=45 maxlength="15" type="text" [(ngModel)]="user.username" name="name" required>
      </clr-input-container>
      <clr-input-container>
        <label>邮箱:</label>
        <input clrInput size=45 maxlength="15" type="text" [(ngModel)]="user.username" name="name" required>
      </clr-input-container>
      <clr-input-container>
        <label>密码:</label>
        <input clrInput size=45 maxlength="15" type="text" [(ngModel)]="user.username" name="name" required>
      </clr-input-container>
    </form>
  </div>
</clr-modal>

