<clr-modal [(clrModalOpen)]="showInfoModal" [clrModalSize]="'lg'" [clrModalClosable]=false>
  <h3 class="modal-title">部署计划详情</h3>
  <div class="modal-body" *ngIf="currentPlan">
    <hr/>
    <div class="card-block">
      <ul class="list-unstyled">
        <li><b style="margin-right: 16px">名称:</b>{{currentPlan.name}}</li>
        <li><b style="margin-right: 16px">区域:</b>{{currentPlan.region}}</li>
        <li><b style="margin-right: 16px">可用区:</b> <span *ngIf="currentPlan.zone">{{currentPlan.zone}}</span><span
          *ngIf="currentPlan.zones">{{currentPlan.zones}}</span></li>
        <li><b style="margin-right: 16px">部署模型:</b>{{getDeployName(currentPlan.deploy_template)}}</li>
        <li><b style="margin-right: 16px">Master 节点规格:</b>{{currentPlan.vars['master_model']}}</li>
        <li><b style="margin-right: 16px">Worker 节点规格:</b>{{currentPlan.vars['worker_model']}}</li>
        <li><b style="margin-right: 16px">创建时间</b>{{currentPlan.date_created | date: 'yyyy-MM-dd HH:mm:ss'}}</li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" (click)="cancel()">取消</button>
  </div>
</clr-modal>
