$TTL 1D
@         IN       SOA       {{cluster_name}}.io.     admin.{{cluster_name}}.io.  (200 1H 15M 1W 1D )
@         IN       NS        www.{{cluster_name}}.io.
www       IN       A         127.0.0.1
