{
	"_port_comment": "Heketi Server Port Number",
	"port" : "8080",

	"_use_auth": "Enable JWT authorization. Please enable for deployment",
	"use_auth" : false,

	"_jwt" : "Private keys for access",
	"jwt" : {
		"_admin" : "Admin has access to all APIs",
		"admin" : {
			"key" : "My Secret"
		},
		"_user" : "User only has access to /volumes endpoint",
		"user" : {
			"key" : "My Secret"
		}
	},

	"_glusterfs_comment": "GlusterFS Configuration",
	"glusterfs" : {

		"_executor_comment": "Execute plugin. Possible choices: mock, kubernetes, ssh",
		"executor" : "{{ glusterfs_heketi_executor }}",

		"_db_comment": "Database file name",
		"db" : "/var/lib/heketi/heketi.db",

		"sshexec" : {
			"keyfile" : "/etc/heketi/private_key",
			"port" : "{{ glusterfs_heketi_ssh_port }}",
			"user" : "{{ glusterfs_heketi_ssh_user }}",
			"sudo" : {{ glusterfs_heketi_ssh_sudo | lower }}
		},

		"_auto_create_block_hosting_volume": "Creates Block Hosting volumes automatically if not found or exsisting volume exhausted",
		"auto_create_block_hosting_volume": {{ glusterfs_block_host_vol_create | lower }},

		"_block_hosting_volume_size": "New block hosting volume will be created in size mentioned, This is considered only if auto-create is enabled.",
		"block_hosting_volume_size": {{ glusterfs_block_host_vol_size }}
	}
}
