<clr-modal [clrLoading]="loading" [(clrModalOpen)]="opened" [clrModalClosable]="false"
           [clrModalSize]="'xl'"
           *ngIf="item">
  <div class="modal-title">
    存储
  </div>
  <div class="modal-body" style="min-height: 500px;max-height:800px;overflow-y: auto">
    <div>
      <h5>基本信息</h5>
      <hr/>
      <ul class="list-unstyled">
        <li><b style="margin-right: 16px">名称:</b>{{item.name}}</li>
        <li><b style="margin-right: 16px">状态:</b>{{getStatus(item)}}</li>
        <li><b style="margin-right: 16px">存储类型:</b>{{item.template}}</li>
        <li><b style="margin-right: 16px">创建时间:</b>{{item.date_created | date: 'yyyy-MM-dd HH:mm:ss'}}</li>
      </ul>
    </div>
    <div *ngIf="storageTemplate">
      <h5>配置信息</h5>
      <hr/>
      <div *ngIf="storageTemplate">
        <ul class="list-unstyled">
          <li *ngFor="let op of storageTemplate.meta.options">
            <b style="margin-right: 16px">{{op.name}}:</b>{{item.vars[op.name]}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="close()">取消</button>
    <button [disabled]="onUpdating" type="button" class="btn btn-primary" (click)="update()"><i *ngIf="onUpdating"
                                                                                                class="fa fa-spinner fa-pulse"></i>更新
    </button>
  </div>
</clr-modal>
