<clr-vertical-nav [clrVerticalNavCollapsible]="true">
  <a clrVerticalNavLink routerLinkActive="active" routerLink="/fit2openshift/cluster">
    <clr-icon shape="cluster" clrVerticalNavIcon></clr-icon>
    集群
  </a>

  <!--<a clrVerticalNavLink routerLinkActive="active" routerLink="/fit2openshift/user">-->
    <!--<clr-icon shape="users" clrVerticalNavIcon></clr-icon>-->
    <!--用户-->
  <!--</a>-->
  <a clrVerticalNavLink routerLinkActive="active" routerLink="/fit2openshift/offline">
    <clr-icon shape="file-group" clrVerticalNavIcon></clr-icon>
    离线包
  </a>
</clr-vertical-nav>
