---
# Change the expiration warning window to 1500 days (good for testing
# the module out) and save the results as a JSON file:

- name: Check cert expirys
  hosts: nodes:masters:etcd
  vars:
    openshift_certificate_expiry_warning_days: 1500
    openshift_certificate_expiry_save_json_results: yes
  roles:
    - role: openshift_certificate_expiry
