<clr-modal [(clrModalOpen)]="opened" [clrModalSize]="'lg'" [clrModalClosable]=false>
    <h3 class="modal-title">{{'APP_REGION_DETAIL'|translate}}</h3>
    <div class="modal-body" *ngIf="item && item.regionVars['provider'] === 'vSphere'">
        <hr/>
        <div class="card-block">
            <ul class="list-unstyled">
                <li><b style="margin-right: 16px">{{'APP_NAME'|translate}}:</b>{{item.name}}</li>
                <li><b style="margin-right: 16px">{{'APP_REGION_PROVIDER'|translate}}
                    :</b>{{item.regionVars['provider']}}</li>
                <!--                <li><b style="margin-right: 16px">集群数量:</b>{{item.cluster_size}}</li>-->
                <!--                <li><b style="margin-right: 16px">可用区数量:</b>{{item.zone_size}}</li>-->
                <li><b style="margin-right: 16px">{{'APP_REGION_VCENTER_DATACENTER'|translate}}:</b>
                    {{item.datacenter}}
                </li>
                <li><b style="margin-right: 16px">{{'APP_REGION_VC_HOST'|translate}}:</b>{{item.regionVars['host']}}</li>
                <li><b style="margin-right: 16px">{{'APP_REGION_VC_USER'|translate}}:</b>{{item.regionVars['username']}}</li>
                <li><b style="margin-right: 16px">{{'APP_CREATED_DATE'|translate}}
                    :</b>{{item.createdAt |  date: 'yyyy-MM-dd HH:mm:ss'}}</li>
            </ul>
        </div>
    </div>
    <div class="modal-body" *ngIf="item && item.regionVars['provider'] === 'OpenStack'">
        <hr/>
        <div class="card-block">
            <ul class="list-unstyled">
                <li><b style="margin-right: 16px">{{'APP_NAME'|translate}}:</b>{{item.name}}</li>
                <li><b style="margin-right: 16px">{{'APP_REGION_PROVIDER'|translate}}:</b>{{item.regionVars['provider']}}</li>
<!--                <li><b style="margin-right: 16px">集群数量:</b>{{currentRegion.cluster_size}}</li>-->
<!--                <li><b style="margin-right: 16px">可用区数量:</b>{{currentRegion.zone_size}}</li>-->
                <li><b style="margin-right: 16px">{{'APP_REGION_VCENTER_DATACENTER'|translate}}:</b>{{item.datacenter}}</li>
                <li><b style="margin-right: 16px">{{'APP_OPENSTACK_ID'|translate}}:</b>{{item.regionVars['identity']}}</li>
                <li><b style="margin-right: 16px">{{'APP_USERNAME'|translate}}:</b>{{item.regionVars['username']}}</li>
                <li><b style="margin-right: 16px">{{'APP_OPENSTACK_PROJECT'|translate}}:</b>{{item.regionVars['projectId']}}</li>
                <li><b style="margin-right: 16px">{{'APP_OPENSTACK_DOMAIN'|translate}}:</b>{{item.regionVars['domainName']}}</li>
                <li><b style="margin-right: 16px">{{'APP_CREATED_DATE'|translate}}:</b>{{item.createdAt |  date: 'yyyy-MM-dd HH:mm:ss'}}
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" (click)="cancel()">{{'APP_CANCEL'|translate}}</button>
    </div>
</clr-modal>
