<clr-modal [(clrModalOpen)]="open" [clrModalClosable]=false>
  <h3 class="modal-title" *ngIf="message">{{message.message_detail.title}}</h3>
  <div class="modal-body" *ngIf="message">
    <div class="card-block">
      <ul class="list-unstyled">
        <li><b>项目:</b>{{message.message_detail.content.item_name}}</li>
        <li><b>集群:</b>{{message.message_detail.content.resource_name}}</li>
        <li><b>详情:</b>{{message.message_detail.content.detail}}</li>
        <li><b>状态:</b>{{message.message_detail.level}}</li>
        <li><b>时间:</b>{{message.date_created | date: 'yyyy-MM-dd HH:mm:ss'}}</li>
        <li *ngIf="message.message_detail.level==='WARNING'">失败详情请到集群-历史页查看</li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" (click)="cancel()">取消</button>
  </div>
</clr-modal>
