apiVersion: v1
kind: OAuthClient
metadata:
  name: kibana-proxy
  labels:
    logging-infra: support
secret: {{ secret }}
redirectURIs:
{% for host in kibana_hostnames %}
- {{ host }}
{% endfor %}
scopeRestrictions:
- literals:
  - user:info
  - user:check-access
  - user:list-projects
