apiVersion: v1
kind: Pod
metadata:
  labels:
    logging-infra: support
  generateName: jks-cert-gen-
spec:
  containers:
  - name: jks-cert-gen
    image: {{ openshift_logging_image }}
    imagePullPolicy: IfNotPresent
    command: ["sh",  "{{generated_certs_dir}}/generate-jks.sh"]
    securityContext:
      privileged: true
    volumeMounts:
    - mountPath: {{generated_certs_dir}}
      name: certmount
    env:
    - name: PROJECT
      value: {{openshift_logging_namespace}}
    - name: CERT_DIR
      value: {{generated_certs_dir}}
  restartPolicy: Never
  serviceAccount: jks-generator
  volumes:
  - hostPath:
      path: "{{generated_certs_dir}}"
    name: certmount
