---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: glusterfs-{{ glusterfs_name }}-s3
provisioner: kubernetes.io/glusterfs
parameters:
  resturl: "http://{{ glusterfs_heketi_url }}:{{ glusterfs_heketi_port }}"
  restuser: "admin"
{% if glusterfs_heketi_admin_key is defined %}
  secretNamespace: "{{ glusterfs_namespace }}"
  secretName: "heketi-{{ glusterfs_name }}-admin-secret"
{%- endif -%}
