<clr-modal [(clrModalOpen)]="opened" [clrModalClosable]="false">
    <h3 class="modal-title">{{"APP_DELETE"|translate}}</h3>
    <div class="modal-body">
        <p *ngIf="items.length > 0 && items[0].type !=='rook-ceph'">{{"APP_DEFAULT_DELETE_WARNING"|translate}}</p>
        <span *ngIf="items.length > 0 && items[0].type ==='rook-ceph'"> {{"APP_DELETE_STORAGE_PROVISIONER_ROOK"|translate}}
            <a href="https://rook.io/docs/rook/v1.5/ceph-teardown.html" target="_blank">https://rook.io/docs/rook/v1.5/ceph-teardown.html</a>
        </span>
        <app-modal-alert></app-modal-alert>
    </div>
    <div class="modal-footer">
        <button class="btn" (click)="onCancel()" [disabled]="submitGoing">{{"APP_CANCEL"|translate}}</button>
        <button class="btn btn-primary" (click)="onSubmit()"
                [clrLoading]="submitGoing">{{"APP_COMMIT"|translate}}</button>
    </div>
</clr-modal>
