<div class="clr-row">
    <div class="clr-col-2" *ngFor="let item of items">
        <div class="card">
            <div class="card-block">
                <div class="card-media-block">
                    <img [src]="'./assets/images/tool/kubernetes.png'" class="card-media-image">
                    <div class="card-media-description">
                        <span class="card-media-title">
                            {{item.name}}
                        </span>
                        <br/>
                        <span class="card-media-text">
                            <ul>
                                <li *ngFor="let item of getCoreCateGory(item).items">{{item.name}}:{{item.version}}</li>
                            </ul>
                        </span>
                    </div>
                </div>
                <div class="card-footer">
                    <div style="text-align: right">
                        <button class="btn btn-sm btn-link" (click)="onDetail(item)">
                            {{'APP_DETAIL'|translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
