<a (click)="backToCluster()" class="backStyle">&lt; 集群</a>
<nav class="subnav sub-nav-bg-color">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="overview" routerLinkActive="active">概览</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="node" routerLinkActive="active">节点</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="cluster-storage" routerLinkActive="active">存储</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="event" routerLinkActive="active">事件</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="deploy" routerLinkActive="active">任务</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="log" routerLinkActive="active">历史</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="health" routerLinkActive="active">组件状态</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="grade" routerLinkActive="active">合规评分</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="backup" routerLinkActive="active">备份恢复</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="big-ip" routerLinkActive="active">服务暴露</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
