<clr-modal [(clrModalOpen)]="opened">
  <h3 class="modal-title">切换项目</h3>
  <div class="modal-body">
    <form clrForm #itemForm='ngForm'>
      <div *ngIf="this.profile">
        <clr-select-container>
          <label>项目</label>
          <select clrSelect name="item" [(ngModel)]="profile.current_item" required>
            <option value="">请选择</option>
            <option *ngFor="let item of profile.items" [value]="item.name">{{item.name}}</option>
          </select>
        </clr-select-container>
      </div>
      <div *ngIf="loading">
        <clr-spinner></clr-spinner>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="onCancel()">取消</button>
    <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="itemForm.invalid">确定</button>
  </div>
</clr-modal>
