<div >
  <h3>备份策略</h3>
  <form clrForm>
    <clr-input-container>
      <label>备份间隔(天)</label>
      <input clrInput size=45 type="number" [(ngModel)]="backupStrategy.cron" name="url"/>
    </clr-input-container>
    <clr-input-container>
      <label>保留份数</label>
      <input clrInput size=45 type="number" [(ngModel)]="backupStrategy.save_num" name="url"/>
    </clr-input-container>
    <clr-select-container>
        <label>备份位置</label>
          <select clrSelect  name="project" [(ngModel)]="backupStrategy.backup_storage_id"  required>
              <option *ngFor="let b of backupStorage" value="{{b.id}}">{{b.name}}</option>
          </select>
    </clr-select-container>
  </form>
  <button class="btn btn-info-outline" (click)="onCommit()">保存</button>
</div>
