<clr-modal [(clrModalOpen)]="opened" [clrModalClosable]="false">
    <h3 class="modal-title">{{"APP_DELETE"|translate}}</h3>
    <div class="modal-body">
        {{"APP_SURE_DELETE"|translate}} {{item.path}} ?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="onCancel()">{{'APP_CANCEL'|translate}}</button>
        <button type="button" class="btn btn-primary" [disabled]="isSubmitGoing"
                (click)="onSubmit()">{{'APP_COMMIT'|translate}}</button>
    </div>
</clr-modal>