<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>消息中心</h2>
    <nav class="subnav sub-nav-bg-color">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="localMail" routerLinkActive="active">站内信</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="subscribe" routerLinkActive="active">订阅设置</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="receiver" routerLinkActive="active">接收源</a>
        </li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
