<clr-wizard #wizard [(clrWizardOpen)]="createOpened" [clrWizardClosable]="false" (clrWizardOnCancel)="onCancel()"
            (clrWizardOnFinish)="onSubmit()">
  <clr-wizard-title>创建部署计划</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">取消</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">上一步</clr-wizard-button>
  <clr-wizard-button [type]="'next'">下一步</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">完成</clr-wizard-button>

  <clr-wizard-page [clrWizardPageNextDisabled]="basicForm.invalid"
                   (clrWizardPageOnCommit)="onBasicFormCommit()">
    <ng-template clrPageTitle>基本信息</ng-template>
    <form clrForm #basicForm="ngForm">
      <clr-input-container>
        <label>名称</label>
        <input clrInput type="text" [(ngModel)]="item.name" name="name" (blur)="nameOnBlur()" required>
        <clr-control-error *ngIf="nameCtrl&&nameCtrl.errors&&nameCtrl.errors.required">此字段为必填项</clr-control-error>
        <clr-control-error *ngIf="nameCtrl&&nameCtrl.errors&&nameCtrl.errors.repeat">名称重复</clr-control-error>
      </clr-input-container>
      <clr-select-container>
        <label>区域</label>
        <select clrSelect [(ngModel)]="item.region" name="provider" (change)="onRegionChange()" required>
          <option [value]="">请选择</option>
          <option *ngFor="let re of regions" [value]="re.name">{{re.name}}</option>
        </select>
        <clr-control-error>此字段为必填项</clr-control-error>
      </clr-select-container>
      <div *ngIf="cloudTemplate">
        <div *ngFor="let config of cloudTemplate.meta.plan.configs" [ngSwitch]="config.type">
          <clr-select-container *ngSwitchCase="'Select'">
            <label>{{config.alias}}</label>
            <select [(ngModel)]="item.vars[config.name]" [name]="config.name" required clrSelect>
              <option value="">请选择</option>
              <option *ngFor="let option of config.options" [value]="option.value">{{option.name}}</option>
            </select>
            <clr-control-error>此字段为必填项</clr-control-error>
          </clr-select-container>
          <clr-input-container *ngSwitchCase="'Input'">
            <label>{{config.alias}}</label>
            <input clrInput type="text" [(ngModel)]="item.vars[config.name]" [name]="config.name" required>
            <clr-control-error>此字段为必填项</clr-control-error>
          </clr-input-container>
        </div>
      </div>
    </form>
  </clr-wizard-page>
  <clr-wizard-page>
    <ng-template clrPageTitle>配置计划</ng-template>
    <form clrForm #regionForm="ngForm">
      <clr-select-container>
        <label>可用区</label>
        <select clrSelect [(ngModel)]="item.zone" name="cloud-region">
          <option [value]="">请选择</option>
          <option *ngFor="let zone of zones" [value]="zone.name">{{zone.name}}</option>
        </select>
        <clr-control-error>此字段为必填项</clr-control-error>
      </clr-select-container>
      <div *ngIf="cloudTemplate">
        <div *ngFor="let inf of cloudTemplate.meta.plan.infra">
          <clr-select-container>
            <label>{{inf.alias}}</label>
            <select clrSelect [(ngModel)]="item.vars[inf.name]" [name]="inf.name">
              <option [value]="">请选择</option>
              <option *ngFor="let model of cloudTemplate.meta.plan.models" [value]="model.name">{{model.name}}</option>
            </select>
            <clr-control-error>此字段为必填项</clr-control-error>
          </clr-select-container>
        </div>
      </div>
    </form>
    <div *ngIf="cloudTemplate">
      <h3>配置参考</h3>
      <table class="table">
        <thead>
        <tr>
          <th>规格</th>
          <th>CPU(核)</th>
          <th>内存(GB)</th>
          <th>磁盘(GB)</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let model of cloudTemplate.meta.plan.models">
          <td>{{model.name}}</td>
          <td>{{model.meta.cpu}}</td>
          <td>{{model.meta.memory}}</td>
          <td>{{model.meta.disk}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </clr-wizard-page>
</clr-wizard>



