<div class="row">
  <div class="clr-row">
<!--      <div class="clr-col-1">-->

<!--      </div>-->
      <div class="clr-col-2">
        <div class="clr-col-12" style="margin-top: 80px">
          <div class="card">
              <div class="card-header" style="background-color: #7ED321">

              </div>
              <div class="card-block" align="center">
                <img src="../../assets/images/k8s.png" class="img-responsive" width="64">
              </div>
              <div class="card-footer">

              </div>
          </div>
        </div>
      </div>
      <div class="clr-col-5 clr-row">
          <div class="clr-col-12">
            <div class="card">
              <div class="card-header" style="background-color: #7ED321">

              </div>
              <div class="card-block">
                <div class="card-media-block">
                  <img src="../../assets/images/master.png" width="64">
                  <div class="card-media-description">
                      <span class="card-media-title"></span>
                      <span class="card-media-text">
                          状态：100%可用
                      </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-12">
            <div class="card">
                <div class="card-header" style="background-color: #7ED321">

                </div>
                <div class="card-block">
                   <img src="../../assets/images/node.png" width="64">
                </div>
            </div>
          </div>
      </div>
      <div class="clr-col-5 clr-row">
         <div class="clr-col-12">
           <div class="card">
             <div class="card-header" [ngStyle]="{'background-color':getClusterServiceStatus(etcdData)}">
             </div>
             <div class="card-block">
               <div class="card-media-block">
                  <img src="../../assets/images/etcd.png" width="64" class="card-media-image" style="margin-top: 30px">
                  <div class="card-media-description">
                     <table class="table" style="margin-top: 0px">
                       <tbody>
                         <tr *ngFor="let etcd of etcdData">
                           <td >{{etcd.key}}</td>
                           <td >{{etcd.value | clusterHealthStatus}}</td>
                         </tr>
                       </tbody>
                     </table>
                  </div>
                </div>
             </div>
           </div>
         </div>
         <div class="clr-col-12">
           <div class="card">
             <div class="card-header" style="background-color: #EE0000">

             </div>
             <div class="card-block">
               <img src="../../assets/images/pod.png" width="64">
             </div>
           </div>
         </div>
      </div>
  </div>
  <hr>
  <div class="col-lg-12">
      <div echarts [options]="options"></div>
  </div>
</div>

