<div class="row">
  <div class="clr-row">
<!--      <div class="clr-col-1">-->

<!--      </div>-->
      <div class="clr-col-4">
        <div class="clr-col-12" style="margin-top: 80px">
          <div class="card">
              <div class="card-header" style="background-color: #7ED321">

              </div>
              <div class="card-block">
                <img src="../../assets/images/k8s.png" class="img-responsive">
              </div>
              <div class="card-footer">

              </div>
          </div>
        </div>
      </div>
      <div class="clr-col-4 clr-row">
          <div class="clr-col-12">
            <div class="card">
              <div class="card-header" style="background-color: #7ED321">

              </div>
              <div class="card-block">
                <div class="card-media-block">
                  <img src="../../assets/images/master.png" style="width: 40%">
                  <div class="card-media-description">
                      <span class="card-media-title"></span>
                      <span class="card-media-text">
                          状态：100%可用
                      </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-12">
            <div class="card">
                <div class="card-header" style="background-color: #7ED321">

                </div>
                <div class="card-block">
                   <img src="../../assets/images/node.png" style="width: 40%">
                </div>
            </div>
          </div>
      </div>
      <div class="clr-col-4 clr-row">
         <div class="clr-col-12">
           <div class="card">
             <div class="card-header" style="background-color: #7ED321">

             </div>
             <div class="card-block">
               <div class="card-media-block">
                   <img src="../../assets/images/etcd.png" style="width: 40%" class="card-media-image">
                   <div class="card-media-description">
                        <span class="card-media-text">
                          <span *ngFor="let etcd of etcdData">{{etcd.key}} {{etcd.value}}</span>
                        </span>
                    </div>
               </div>
             </div>
           </div>
         </div>
         <div class="clr-col-12">
           <div class="card">
             <div class="card-header" style="background-color: #EE0000">

             </div>
             <div class="card-block">
               <img src="../../assets/images/pod.png" style="width: 40%">
             </div>
           </div>
         </div>
      </div>
  </div>
  <hr>
  <div class="col-lg-12">
      <div echarts [options]="options"></div>
  </div>
</div>

