<a (click)="backToProject()" class="backStyle">&lt; {{'APP_PROJECT'|translate}}</a>
<h3>{{currentProject.name}}</h3>
<nav class="subnav sub-nav-bg-color">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="clusters" routerLinkActive="active">{{'APP_CLUSTER'|translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="members" routerLinkActive="active">{{'APP_PROJECT_MEMBER'|translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="resources" routerLinkActive="active">{{'APP_RESOURCE'|translate}}</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
