<clr-wizard [(clrWizardOpen)]="createdItemOpened" (clrWizardOnFinish)="onConfirm()" (clrWizardOnCancel)="onCancel()"
            #wizard>
  <clr-wizard-title>创建集群</clr-wizard-title>
  <clr-wizard-button [type]="'cancel'">取消</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">上一步</clr-wizard-button>
  <clr-wizard-button [type]="'next'">下一步</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">完成</clr-wizard-button>
  <clr-wizard-page>
    <form class="clr-form clr-form-compact" #basicFrom='ngForm'>
      <ng-template clrPageTitle>基本信息</ng-template>
      <div class="clr-form-control clr-row">
        <label for="name" class="clr-control-label clr-col-xs-12 clr-col-md-2">名称</label>
        <div class="clr-control-container clr-col-xs-12 clr-col-md-10">
          <div class="clr-input-wrapper">
            <input id="name" type="text" pattern="^[a-z0-9]+(?:[._-][a-z0-9]+)*$" placeholder="Eg: storage-A"
                   minlength="2" maxlength="128"
                   class="clr-input" [(ngModel)]="item.name"
                   name="cluster_name" required>
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <!--<i *ngIf="checkOnGoing" class="fa fa-spinner fa-pulse"></i>-->
          <!--<span class="clr-subtext">{{nameTooltipText}}</span>-->
        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label for="package" class="clr-control-label clr-col-xs-12 clr-col-md-2">离线包</label>
        <div class="clr-control-container clr-col-xs-12 clr-col-md-10">
          <div class="clr-select-wrapper">
            <select id="package" [(ngModel)]="item.template" name="template" (change)="templateOnChange()"
                    class="clr-select" required>
              <option [value]=null>请选择离线包</option>
              <option *ngFor="let template of storageTemplates" [value]="template.name">{{template.name}}</option>
            </select>
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label for="comment" class="clr-control-label clr-col-xs-12 clr-col-md-2">描述</label>
        <div class="clr-control-container clr-col-xs-12 clr-col-md-10">
          <div class="clr-textarea-wrapper">
      <textarea id="comment" [(ngModel)]="item.comment" [ngModelOptions]="{standalone: true}"
                name="comment"></textarea>
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="clr-subtext"></span>
        </div>
      </div>
    </form>
  </clr-wizard-page>
  <clr-wizard-page>
    <form #nodeForm='ngForm' class="clr-form clr-form-compact">
      <ng-template clrPageTitle>配置信息</ng-template>
      <div *ngIf="storageTemplate">
        <div *ngFor="let group of  storageGroups">
          <h4>{{group.name}}</h4>
          <hr/>
          <div *ngFor="let node of group.nodes">
            <h5>{{node.name}}</h5>
            <div class="clr-form-control clr-row">
              <label [for]="group+'ip'" class="clr-control-label clr-col-xs-12 clr-col-md-2">IP</label>
              <div class="clr-control-container clr-col-xs-12 clr-col-md-10">
                <div class="clr-input-wrapper">
                  <input [id]="group+'ip'" type="text"
                         minlength="2" maxlength="128"
                         class="clr-input" [(ngModel)]="node.ip"
                         name="cluster_name" required>
                  <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </div>
              </div>
            </div>
            <div class="clr-form-control clr-row">
              <label [for]="group+'username'" class="clr-control-label clr-col-xs-12 clr-col-md-2">用户名</label>
              <div class="clr-control-container clr-col-xs-12 clr-col-md-10">
                <div class="clr-input-wrapper">
                  <input [id]="group+'username'" type="text" pattern="^[a-z0-9]+(?:[._-][a-z0-9]+)*$"
                         placeholder="Eg: storage-A"
                         minlength="2" maxlength="128"
                         class="clr-input" [(ngModel)]="node.username"
                         name="cluster_name" required>
                  <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </div>
              </div>
            </div>
            <div class="clr-form-control clr-row">
              <label [for]="group+'password'" class="clr-control-label clr-col-xs-12 clr-col-md-2">密码</label>
              <div class="clr-control-container clr-col-xs-12 clr-col-md-10">
                <div class="clr-input-wrapper">
                  <input [id]="group+'password'" type="password"
                         minlength="2" maxlength="128"
                         class="clr-input" [(ngModel)]="node.password"
                         name="cluster_name" required>
                  <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </div>
              </div>
            </div>
            <div class="clr-form-control clr-row">
              <label [for]="group+'port'" class="clr-control-label clr-col-xs-12 clr-col-md-2">端口</label>
              <div class="clr-control-container clr-col-xs-12 clr-col-md-10">
                <div class="clr-input-wrapper">
                  <input [id]="group+'port'" type="text"
                         minlength="2" maxlength="128"
                         class="clr-input" [(ngModel)]="node.port"
                         name="cluster_name" required>
                  <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngFor="let option of storageTemplate.meta.options">
          <div class="clr-form-control clr-row">
            <label [for]="option.name"
                   class="clr-control-label clr-col-xs-12 clr-col-md-2">{{option.comment}}</label>
            <div class="clr-control-container clr-col-xs-12 clr-col-md-10">
              <div class="clr-input-wrapper">
                <input [id]="option.name" [type]="option.type"
                       minlength="2" maxlength="128"
                       class="clr-input" [(ngModel)]="item.vars[option.name]" [name]="option.name" required>
                <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </clr-wizard-page>
</clr-wizard>
