<clr-datagrid [clrDgLoading]="loading">
  <clr-dg-action-bar>
    <button type="button" class="btn btn-sm btn-secondary">
      <clr-icon shape="plus" size="16"></clr-icon>
      添加
    </button>
  </clr-dg-action-bar>
  <clr-dg-column [clrDgField]="name">名称</clr-dg-column>
  <clr-dg-column [clrDgField]="ip">IP</clr-dg-column>
  <clr-dg-column [clrDgField]="roles">角色</clr-dg-column>
  <clr-dg-column [clrDgField]="status">状态</clr-dg-column>
  <clr-dg-column [clrDgField]="comment">备注</clr-dg-column>

  <clr-dg-row *ngFor="let node of nodes" [clrDgItem]="node">
    <clr-dg-cell>{{node.name}}</clr-dg-cell>
    <clr-dg-cell>{{node.ip}}</clr-dg-cell>
    <clr-dg-cell>{{node.roles}}</clr-dg-cell>
    <clr-dg-cell>{{node.status}}</clr-dg-cell>
    <clr-dg-cell>{{node.comment}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>

  </clr-dg-footer>

</clr-datagrid>
