<clr-datagrid [clrDgLoading]="loading">

  <clr-dg-action-bar>
    <button type="button" class="btn btn-sm btn-secondary" (click)="refresh()">
      <clr-icon shape="refresh" size="16"></clr-icon>
      刷新
    </button>
  </clr-dg-action-bar>

  <clr-dg-column [clrDgField]="name">名称</clr-dg-column>
  <clr-dg-column [clrDgField]="version">okd版本</clr-dg-column>
  <clr-dg-column [clrDgField]="date_created">创建时间</clr-dg-column>


  <clr-dg-row *ngFor="let package of packages" [clrDgItem]="package">
    <clr-dg-cell>{{package.name}}</clr-dg-cell>
    <clr-dg-cell>{{package.meta.version}}</clr-dg-cell>
    <clr-dg-cell>{{package.date_created}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>

  </clr-dg-footer>

</clr-datagrid>
