<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2> {{ 'APP_USER_MANAGEMENT' | translate }}</h2>
        <app-user-list (createEvent)="openCreate()" (deleteEvent)="openDelete($event)"
                       (updateEvent)="openUpdate($event)"></app-user-list>
        <app-user-create (created)="refresh()"></app-user-create>
        <app-user-update (update)="refresh()"></app-user-update>
        <app-user-delete (deleted)="refresh()"></app-user-delete>
    </div>
</div>