<clr-modal [(clrModalOpen)]="opened" [clrModalSize]="'lg'">
  <h3 class="modal-title">移除节点</h3>
  <div class="modal-body">
    <form clrForm #form='ngForm'>
      <l-select2 class="form-control" name="wrokers" [data]="options" [(ngModel)]="worker_names"
                 [options]="ops"></l-select2>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="close()">取消</button>
    <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="onConfirm()">确认</button>
  </div>
</clr-modal>
