<clr-modal [(clrModalOpen)]="opened">
    <h3 class="modal-title">{{'APP_EDIT'|translate}}</h3>
    <div class="modal-body modal-height">
        <form clrForm #projectForm="ngForm">
            <clr-input-container>
                <label>{{'APP_NAME'|translate}}:</label>
                <label>{{item.name}}</label>
            </clr-input-container>
            <clr-input-container>
                <label>{{'APP_DESCRIPTION'|translate}}:</label>
                <input clrInput size=45 maxlength="255" type="text" [(ngModel)]="item.description"
                       name="description" required>
            </clr-input-container>
        </form>
        <app-modal-alert></app-modal-alert>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="onCancel()" [disabled]="isSubmitGoing">{{'APP_CANCEL'|translate}}</button>
            <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]="projectForm.invalid">{{'APP_COMMIT'|translate}}
            </button>
        </div>
    </div>
</clr-modal>

