apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: kubeapps-registry-ingress
  namespace: kubeapps
spec:
  rules:
  - host: {{ kubeapps_registry_hostname }}
    http:
      paths:
      - backend:
          serviceName: kube-registry
          servicePort: 5000