<clr-modal [(clrModalOpen)]="opened" [clrModalSize]="'lg'">
    <h3 class="modal-title">{{"APP_NODE_DETAIL"|translate}}</h3>
    <div class="modal-body" *ngIf="item" style="overflow:auto">
        <h5>{{"APP_BASIC_INFO"|translate}}</h5>
        <hr/>
        <table class="table table-vertical">
            <tbody>
            <tr>
                <th>Name</th>
                <td>{{item.metadata.name}}</td>
            </tr>
            <tr>
                <th>Kernel Version</th>
                <td>{{item.status.nodeInfo.kernelVersion}}</td>
            </tr>
            <tr>
                <th>OS Image</th>
                <td>{{item.status.nodeInfo.osImage}}</td>
            </tr>
            <tr>
                <th>Container Runtime Version</th>
                <td>{{item.status.nodeInfo.containerRuntimeVersion}}</td>
            </tr>
            <tr>
                <th>Kubelet Version</th>
                <td>{{item.status.nodeInfo.kubeletVersion}}</td>
            </tr>
            <tr>
                <th>KubeProxy Version</th>
                <td>{{item.status.nodeInfo.kubeProxyVersion}}</td>
            </tr>
            <tr>
                <th>Operating System</th>
                <td>{{item.status.nodeInfo.operatingSystem}}</td>
            </tr>
            <tr>
                <th>Architecture</th>
                <td>{{item.status.nodeInfo.architecture}}</td>
            </tr>
            </tbody>
        </table>
        <br/>
        <h5>{{"APP_LABEL"|translate}}</h5>
        <hr/>
        <table class="table table-vertical">
            <tbody>
            <tr *ngFor="let lable of item.metadata.labels | keyvalue">
                <th>{{lable.key}}</th>
                <td>{{lable.value}}</td>
            </tr>
            </tbody>
        </table>
        <br/>
        <h5>{{"APP_STATUS"|translate}}</h5>
        <hr/>
        <table class="table">
            <thead>
            <tr>
                <th>Type</th>
                <th>Status</th>
                <th>Time</th>
                <th>Reason</th>
                <th>Message</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let condition of item.status.conditions">
                <td class="left">{{condition.type}}</td>
                <td class="left">{{condition.status}}</td>
                <td class="left">{{condition.lastTransitionTime | date:'hh:mm:ss'}}</td>
                <td class="left">{{condition.reason}}</td>
                <td class="left">{{condition.message}}</td>
            </tr>
            </tbody>
        </table>
        <br/>
    </div>
</clr-modal>
