<clr-modal [(clrModalOpen)]="opened" clrModalSize="l">
    <h3 class="modal-title">{{'APP_MEMBER_REMOVE'|translate}}</h3>
    <div class="modal-body" #resource>
        <span>{{'APP_MEMBER_REMOVE_CONFIRM'|translate}}</span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="onCancel()"
                [disabled]="isSubmitGoing">{{'APP_CANCEL'|translate}}</button>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">{{'APP_COMMIT'|translate}}</button>
    </div>
</clr-modal>