<clr-wizard #wizard [(clrWizardOpen)]="createClusterOpened" (clrWizardOnCancel)="onCancel()"
            (clrWizardOnFinish)="onSubmit()">
  <clr-wizard-title>创建集群</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">取消</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">上一步</clr-wizard-button>
  <clr-wizard-button [type]="'next'">下一步</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">完成</clr-wizard-button>
  <clr-wizard-page [clrWizardPageNextDisabled]="!isBasicFormValid">
    <form class="clr-form clr-form-compact" #basicFrom='ngForm'>
      <ng-template clrPageTitle>基本信息</ng-template>
      <div class="clr-form-control clr-row">
        <label for="name" class="clr-control-label clr-col-xs-12 clr-col-md-2">集群名称</label>
        <div class="clr-control-container clr-col-xs-12 clr-col-md-10">
          <div class="clr-input-wrapper">
            <input id="name" type="text" pattern="^[a-z0-9]+(?:[._-][a-z0-9]+)*$" placeholder="Eg: clusterA"
                   minlength="2" maxlength="128"
                   class="clr-input" [(ngModel)]="cluster.name"
                   name="cluster_name" (keyup)="handleValidation()" required>
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <i *ngIf="checkOnGoing" class="fa fa-spinner fa-pulse"></i>
          <span class="clr-subtext">{{nameTooltipText}}</span>
        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label for="package" class="clr-control-label clr-col-xs-12 clr-col-md-2">离线包</label>
        <div class="clr-control-container clr-col-xs-12 clr-col-md-10">
          <div class="clr-select-wrapper">
            <select id="package" [(ngModel)]="cluster.package" name="package" class="clr-select"
                    (change)="onPackageChange()" required>
              <option [value]=null>请选择离线包</option>
              <option *ngFor="let pk of packages" [value]="pk.name">{{pk.name}}</option>
            </select>
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="clr-subtext">{{packageToolTipText}}</span>
        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label for="comment" class="clr-control-label clr-col-xs-12 clr-col-md-2">描述</label>
        <div class="clr-control-container clr-col-xs-12 clr-col-md-10">
          <div class="clr-textarea-wrapper">
            <textarea id="comment" [(ngModel)]="cluster.comment" [ngModelOptions]="{standalone: true}"
                      name="comment"></textarea>
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="clr-subtext"></span>
        </div>
      </div>
    </form>
  </clr-wizard-page>

  <clr-wizard-page [clrWizardPageNextDisabled]="!templateForm.valid">
    <ng-template clrPageTitle>部署模型</ng-template>
    <form clrForm #templateForm='ngForm'>
      <clr-radio-wrapper *ngFor="let template of templates">
        <input required type="radio" clrRadio [(ngModel)]="cluster.template" [value]="template.name"
               name="template" (change)="templateOnChange()"/>
        <label>{{template.name}}</label>
      </clr-radio-wrapper>
      <div *ngIf="template">
        <div>{{template.comment}}</div>
        <div *ngFor="let role of template.roles">
          <div *ngIf="!role.meta.hidden">
            <h3>{{role.name}}</h3>
            <hr/>
            <div>
              节点数:
              {{role.meta.requires.nodes_require[0]}}
              {{role.meta.requires.nodes_require[1]}}
            </div>
            <div>
              支持操作系统:
              <span *ngFor="let os of role.meta.allow_os">
                {{os.name}}&nbsp;
                <span *ngFor="let version of os.version">
                  {{version}}&nbsp;
                </span>
              </span>
            </div>
            <h5>设备要求:</h5>
            <div>
              <clr-datagrid>
                <clr-dg-column>设备名称</clr-dg-column>
                <clr-dg-column>最低配置</clr-dg-column>
                <clr-dg-column>推荐配置</clr-dg-column>
                <clr-dg-column>单位</clr-dg-column>
                <clr-dg-column>备注</clr-dg-column>

                <clr-dg-row *clrDgItems="let require of role.meta.requires.device_require" [clrDgItem]="require">
                  <clr-dg-cell>{{require.verbose}}</clr-dg-cell>
                  <clr-dg-cell>{{require.minimal}}</clr-dg-cell>
                  <clr-dg-cell>{{require.excellent}}</clr-dg-cell>
                  <clr-dg-cell>{{require.unit}}</clr-dg-cell>
                  <clr-dg-cell>{{require.comment}}</clr-dg-cell>
                </clr-dg-row>
              </clr-datagrid>
            </div>
            <h5>磁盘要求:</h5>
            <div>
              <clr-datagrid>
                <clr-dg-column>设备名称</clr-dg-column>
                <clr-dg-column>最低配置</clr-dg-column>
                <clr-dg-column>推荐配置</clr-dg-column>
                <clr-dg-column>单位</clr-dg-column>
                <clr-dg-column>备注</clr-dg-column>

                <clr-dg-row *clrDgItems="let require of role.meta.requires.volumes_require" [clrDgItem]="require">
                  <clr-dg-cell>{{require.verbose}}</clr-dg-cell>
                  <clr-dg-cell>{{require.minimal}}</clr-dg-cell>
                  <clr-dg-cell>{{require.excellent}}</clr-dg-cell>
                  <clr-dg-cell>{{require.unit}}</clr-dg-cell>
                  <clr-dg-cell>{{require.comment}}</clr-dg-cell>
                </clr-dg-row>
              </clr-datagrid>
            </div>
          </div>
        </div>
      </div>

    </form>
  </clr-wizard-page>

  <clr-wizard-page [clrWizardPageNextDisabled]="canNodeNext()" (clrWizardPageNext)="fullNode()">
    <ng-template clrPageTitle>配置节点</ng-template>
    <form #nodeForm='ngForm' class="clr-form clr-form-compact">
      <div *ngFor="let group of groups">
        <h4>{{group.name}}</h4>
        <hr>
        <div *ngFor="let node of group.nodes">
          <div>
            <h5>{{node.name}} &nbsp;&nbsp;<i class="fa fa-close" *ngIf="node.delete"
                                             (click)="deleteNode(group,node)"></i></h5>
            <div class="clr-form-control clr-row">
              <label [for]="node.name+'host'" class="clr-control-label clr-col-xs-12 clr-col-md-2">选择主机</label>
              <div class="clr-control-container clr-col-xs-12 clr-col-md-10">
                <div class="clr-select-wrapper">
                  <select [id]="node.name+'host'" [(ngModel)]="node.host" name="node_host" (change)="onHostChange(node)"
                          class="clr-select" required>
                    <option [value]="">请选择主机</option>
                    <option *ngFor="let host of hosts | hostsFilter :nodes:node "
                            [value]="host.id">{{getHostInfo(host)}}
                    </option>
                  </select>
                  <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </div>
              </div>
            </div>
            <div *ngIf="group.node_vars">
              <div class="clr-form-control clr-row" *ngFor="let _var of group.node_vars">
                <label [for]="node.name+_var.name"
                       class="clr-control-label clr-col-xs-12 clr-col-md-2">{{replaceNodeVarsKey(_var.name)}}</label>
                <div class="clr-control-container clr-col-xs-12 clr-col-md-10" [ngSwitch]="_var.type">
                  <div class="clr-select-wrapper" *ngSwitchCase="'Select'">
                    <select [id]="node.name+_var.name" [(ngModel)]="node.vars[_var.name]" name="node_vars"
                            class="clr-select"
                            required>
                      <option [value]="">请选择磁盘</option>
                      <option *ngFor="let v of node.volumes" [value]="v">{{v}}</option>
                    </select>
                    <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                  </div>

                  <div class="clr-multiselect-wrapper" *ngSwitchCase="'Mutiselect'">
                    <select multiple [id]="node.name+_var.name" [(ngModel)]="node.vars[_var.name]" name="node_vars"
                            class="clr-select"
                            required>
                      <option *ngFor="let v of node.volumes" [value]="v">{{v}}</option>
                    </select>
                    <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                  </div>
                  <span class="clr-subtext"> 此操作将格式化此设备!</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="padding-top: 20px" *ngIf="group.op !== '='">
          <a href="javascript:void(0)" (click)="addNode(group,true)">添加</a>
        </div>
      </div>
    </form>

  </clr-wizard-page>
  <clr-wizard-page [clrWizardPageNextDisabled]="!canStorageNext()">
    <ng-template clrPageTitle>选择持久化存储</ng-template>
    <form #configForm='ngForm' clrForm>
      <div class="clr-form-control clr-row">
        <label for="storage" class="clr-control-label clr-col-xs-12 clr-col-md-2">持久化存储</label>
        <div class="clr-control-container clr-col-xs-12 clr-col-md-10">
          <div class="clr-select-wrapper">
            <select id="storage" [(ngModel)]="cluster.persistent_storage" name="storage" class="clr-select" required>
              <option *ngFor="let s of storage" [value]="s.name">{{s.name}}</option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </clr-wizard-page>

  <!--<clr-wizard-page [clrWizardPageNextDisabled]="!canCheckNext()">-->
  <clr-wizard-page>
    <ng-template clrPageTitle>配置检查</ng-template>
    <div>
      1.检查cpu
      <span [ngSwitch]="checkCpuState">
      <i *ngSwitchCase="'pending'" class=" fa fa-spinner fa-spin"></i>
      <clr-icon *ngSwitchCase="'success'" shape="success-standard"></clr-icon>
      <clr-icon *ngSwitchCase="'fail'" shape="error-standar" class="is-solid"></clr-icon>
      </span><br/>
      <div *ngIf="checkCpuState === 'fail'">
        <span style="color: green;">通过检查:</span> {{checkCpuResult.passed}}
        <br/>
        <span style="color: red;">未通过检查:</span> {{checkCpuResult.failed}}
      </div>
    </div>
    <div>
      2.检查内存
      <span [ngSwitch]="checkMemoryState">
         <i *ngSwitchCase="'pending'" class=" fa fa-spinner fa-spin"></i>
      <clr-icon *ngSwitchCase="'success'" shape="success-standard"></clr-icon>
      <clr-icon *ngSwitchCase="'fail'" shape="error-standar" class="is-solid"></clr-icon>
      </span><br/>
      <div *ngIf="checkMemoryState === 'fail'">
        <span style="color: green;">通过检查:</span> {{checkMemoryResult.passed}}
        <br/>
        <span style="color: red;">未通过检查:</span> {{checkMemoryResult.failed}}
      </div>
    </div>
    <div>
      3.检查操作系统
      <span [ngSwitch]="checkOsState">
      <i *ngSwitchCase="'pending'" class=" fa fa-spinner fa-spin"></i>
      <clr-icon *ngSwitchCase="'success'" shape="success-standard"></clr-icon>
      <clr-icon *ngSwitchCase="'fail'" shape="error-standar" class="is-solid"></clr-icon>
      </span><br/>
      <div *ngIf="checkOsState === 'fail'">
        <span style="color: green;">通过检查:</span> {{checkOsResult.passed}}
        <br/>
        <span style="color: red;">未通过检查:</span> {{checkOsResult.failed}}
      </div>
    </div>
  </clr-wizard-page>


  <clr-wizard-page [clrWizardPageNextDisabled]="canConfigNext()"
                   *ngIf="template&&template.private_config&&template.private_config.length>0">
    <ng-template clrPageTitle>设置参数</ng-template>
    <form #configForm='ngForm' clrForm>
      <div *ngFor="let config of configs">
        <div [ngSwitch]="config.type" [hidden]="!config.display">
          <clr-input-container *ngSwitchCase="'Input'">
            <label>{{config.alias}}</label>
            <input clrInput type="text" [value]="config.default" [(ngModel)]="config.value"
                   [ngModelOptions]="{standalone: true}">
          </clr-input-container>
          <clr-checkbox [clrInline]="true" *ngSwitchCase="'Checkbox'" [(ngModel)]="config.value"
                        [ngModelOptions]="{standalone: true}">
            {{config.alias}}
          </clr-checkbox>
        </div>
      </div>
    </form>

  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>完成</ng-template>
    <section class="form-block">
      <div class="form-group">
        <label>集群名称:</label>
        <span>{{cluster.name}}</span>
      </div>

      <div class="form-group">
        <label>部署模型:</label>
        <span>{{cluster.template}}</span>
      </div>

      <div class="form-group" *ngFor="let config of configs">
        <label>{{config.alias}}:</label>
        <span>{{config.value}}</span>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h5>节点信息</h5>
          <table class="table">
            <thead>
            <tr>
              <th>节点名称</th>
              <th>IP</th>
              <th>CPU(核)</th>
              <th>内存</th>
              <th>操作系统</th>
              <th>角色</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let node of nodes">
              <td>{{node.name}}</td>
              <td>{{node.ip}}</td>
              <td>{{node.host_cpu_core}}</td>
              <td>{{node.host_memory}}</td>
              <td>{{node.host_os}} {{node.host_os_version}}</td>
              <td>{{node.roles}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </clr-wizard-page>
</clr-wizard>
