<clr-modal [(clrModalOpen)]="createClusterOpened" [clrModalStaticBackdrop]="staticBackdrop"
           [clrModalClosable]="closable">
  <h3 class="modal-title">创建集群</h3>
  <div class="modal-body modal-height">
    <form [formGroup]="form" clrForm (ngSubmit)="onSubmit()">
      <clr-input-container>
        <label>名称:</label>
        <input clrInput type="text" formControlName="name">
      </clr-input-container>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="onCancel()">取消</button>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">提交</button>
      </div>
    </form>
  </div>
</clr-modal>
