<div class="clr-row">
  <div class="clr-col-12">
    <p class="p7 prompt">
      访问内置应用有两种方式<br>
        1.本地hosts文件：复制集群概览页域名解析规则中的规则列表到你电脑的hosts文件中 hosts文件地址-> Windows：'C:\Windows\System32\drivers\etc\hosts' Mac：'/etc/hosts'<br>
        2.F5：在'F5 BIG-IP'页面填写相关信息（需要有F5设备）
    </p>
  </div>
  <div class="clr-col-12 clr-col-sm-4" *ngFor="let app of apps">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">{{app.name}}</h4>
        <div style="float: left;margin-right: 20px">
          <img [src]=" 'assets/images/'+app.logo" height="48px" width="48px">
        </div>
        <div style="min-height: 64px; text-align:left; padding-top: 10px">
          {{app.describe}}
        </div>
        <p class="card-text">
        </p>
      </div>
      <div class="card-footer">
        <a target="_blank" [href]="getAppUrl(app)" class="card-link">
          <button class="btn btn-link" [disabled]="currentCluster.status !== 'RUNNING'">转到</button>
        </a>
      </div>
    </div>
  </div>
</div>
