<div class="login-wrapper">
  <form class="login" #signInForm="ngForm">
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      Fit2Openshift
    </section>
    <div class="login-group">
      <input class="username" type="text" id="login_username" placeholder="Username" required name="login_username"
             [(ngModel)]="signInCredential.principal">
      <input class="password" type="password" id="login_password" placeholder="Password" required name="login_password"
             [(ngModel)]="signInCredential.password">
      <div [class.visibility-hidden] = "!isError" class="error active">
        无效的用户名或密码！
      </div>
      <button type="submit" class="btn btn-primary" (click)="signIn()">登录</button>
    </div>
  </form>
</div>
