<clr-datagrid [clrDgLoading]="loading">

  <clr-dg-column [clrDgField]="timestamp">时间戳</clr-dg-column>
  <clr-dg-column [clrDgField]="level">级别</clr-dg-column>
  <clr-dg-column [clrDgField]="msg">消息</clr-dg-column>


  <clr-dg-row *ngFor="let log of logs" [clrDgItem]="log" [style.background-color]="getColor(log)">
    <clr-dg-cell>{{log.timestamp}}</clr-dg-cell>
    <clr-dg-cell>{{log.level}}</clr-dg-cell>
    <clr-dg-cell>{{log.msg}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>

  </clr-dg-footer>

</clr-datagrid>
