.DS_Store
*.pyc
*.pyo
*.swp
.env
env
venv
dist
build
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/
*.lock
db.sqlite3
celerybeat.pid
tmp
dump.rdb
data/celery/
data/ansible/
data/projects/
data/openshift-ansible/
*.log
django.iml
