<div class="content-container" style="height: 100%;">
    <nav class="sidenav">
        <section class="sidenav-content">
            <section class="nav-group">
                <ul class="nav-list">
                    <li>
                        <a class="nav-link" routerLink="pv" routerLinkActive="active">
                            <div class="nav-slide-item">
                                PersistentVolume
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="pvc" routerLinkActive="active">
                            <div class="nav-slide-item">
                                PersistentVolumeClaim
                            </div>
                        </a>
                    </li>
                </ul>
            </section>
        </section>
    </nav>
    <div class="content-area">
        <router-outlet></router-outlet>
    </div>
</div>
