<div class="content-container" style="height: 100%;">
    <nav class="sidenav">
        <section class="sidenav-content">
            <section class="nav-group">
                <ul class="nav-list">
                    <li>
                        <a class="nav-link" routerLink="pv" routerLinkActive="active">
                            <div class="nav-slide-item">
                                {{"APP_PERSISTENT_VOLUME" |translate}}
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="sc" routerLinkActive="active">
                            <div class="nav-slide-item">
                                {{"APP_STORAGE_CLASS" |translate}}
                            </div>
                        </a>
                    </li>
                    <li *ngIf="currentCluster.source !== 'external'">
                        <a class="nav-link" routerLink="provisioner" routerLinkActive="active">
                            <div class="nav-slide-item">
                                {{"APP_STORAGE_PROVISIONER"|translate}}
                            </div>
                        </a>
                    </li>
                </ul>
            </section>
        </section>
    </nav>
    <div class="content-area">
        <router-outlet></router-outlet>
    </div>
</div>
