---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ cluster_name }}-claim
spec:
  storageClassName: {{ storageClassName }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Mi

---

kind: Pod
apiVersion: v1
metadata:
  name: {{ cluster_name }}-pod
spec:
  containers:
    - name: test-pod
      image: {{ registry_prefix }}:{{ registry_port }}/{{ busybox_image }}:{{ busybox_version }}
      command:
        - "/bin/sh"
      args:
        - "-c"
        - "touch /mnt/SUCCESS && exit 0 || exit 1"
      volumeMounts:
        - name: test-pvc
          mountPath: "/mnt"
  restartPolicy: "Never"
  volumes:
    - name: test-pvc
      persistentVolumeClaim:
        claimName: {{ cluster_name }}-claim