<clr-modal [(clrModalOpen)]="opened" [clrModalSize]="'lg'" [clrModalClosable]=false>
    <h3 class="modal-title">{{'APP_ZONE_DETAIL'|translate}}</h3>
    <div class="modal-body" *ngIf="item">
        <hr/>
        <div class="card-block">
            <ul class="list-unstyled" *ngIf="item.region.regionVars['provider'] === 'vSphere'">
                <li><b style="margin-right: 16px">{{'APP_NAME'|translate}}:</b>{{item.name}}</li>
                <li><b style="margin-right: 16px">{{'APP_ZONE'|translate}}:</b>{{item.region.name}}</li>
                <li><b style="margin-right: 16px">{{'APP_RESOURCE_POOL'|translate}}
                    :</b>{{item.cloudVars['resourcePool']}}</li>
                <li><b style="margin-right: 16px">{{'APP_CLUSTER'|translate}}:</b>{{item.cloudVars['cluster']}}</li>
                <li><b style="margin-right: 16px">{{'APP_DATASTORE'|translate}}:</b>{{item.cloudVars['datastore']}}</li>
                <li><b style="margin-right: 16px">{{'APP_NETWORK'|translate}}:</b>{{item.cloudVars['network']}}</li>
                <li><b style="margin-right: 16px">{{'APP_NETWORK_CIDR'|translate}}:</b>{{item.cloudVars['networkCidr']}}</li>
                <li><b style="margin-right: 16px">{{'APP_NETWORK_GATEWAY'|translate}}:</b>{{item.cloudVars['gateway']}}
                </li>
                <li><b style="margin-right: 16px">{{'APP_NETWORK_DNS1'|translate}}:</b>{{item.cloudVars['dns1']}}</li>
                <li><b style="margin-right: 16px">{{'APP_NETWORK_DNS2'|translate}}:</b>{{item.cloudVars['dns2']}}</li>
                <li *ngIf="item.cloudVars['templateType'] === 'customize'"><b
                        style="margin-right: 16px">{{'APP_TEMPLATE'|translate}}:</b>{{item.cloudVars['imageName']}}</li>
                <li><b style="margin-right: 16px">{{'APP_CREATED_DATE'|translate}}
                    :</b>{{item.createdAt | date: 'yyyy-MM-dd HH:mm:ss'}}</li>
            </ul>
            <ul class="list-unstyled" *ngIf="item.region.regionVars['provider'] === 'OpenStack'">
                <li><b style="margin-right: 16px">{{'APP_NAME'|translate}}:</b>{{item.name}}</li>
                <li><b style="margin-right: 16px">{{'APP_REGION'|translate}}:</b>{{item.region.name}}</li>
                <li><b style="margin-right: 16px">{{'APP_ZONE'|translate}}:</b>{{item.cloudVars['cluster']}}</li>
                <li><b style="margin-right: 16px">{{'APP_OPENSTACK_STORAGE_TYPE'|translate}}:</b>{{item.cloudVars['storageType']}}</li>
                <li><b style="margin-right: 16px">{{'APP_NETWORK'|translate}}:</b>{{item.cloudVars['network']}}</li>
                <li><b style="margin-right: 16px">{{'APP_NETWORK_CIDR'|translate}}:</b>{{item.cloudVars['networkCidr']}}</li>
                <li><b style="margin-right: 16px">{{'APP_OPENSTACK_SECURITY_GROUP'|translate}}:</b>{{item.cloudVars['securityGroup']}}</li>
                <li><b style="margin-right: 16px">{{'APP_CREATED_DATE'|translate}}:</b>{{item.createdAt | date: 'yyyy-MM-dd HH:mm:ss'}}</li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" (click)="cancel()">{{'APP_CANCEL'|translate}}</button>
    </div>
</clr-modal>
