<clr-modal [(clrModalOpen)]="opened" [clrModalClosable]="false">
    <h3 class="modal-title">{{"APP_ADD_STORAGE_PROVISIONER" |translate}}</h3>
    <div class="modal-body">
        <form clrForm #selectForm='ngForm'>
            <clr-select-container>
                <label>类型</label>
                <select clrSelect [(ngModel)]="item.type" name="type" required>
                    <option value="">请选择</option>
                    <option value="nfs">nfs</option>
                    <option value="external-ceph">external-ceph</option>
                    <option value="rook-ceph">rook-ceph</option>
                    <option value="vsphere">vsphere</option>
                </select>
            </clr-select-container>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="onCancel()">{{'APP_CANCEL'|translate}}</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()"
                [disabled]="selectForm.invalid">{{'APP_COMMIT'|translate}}</button>
    </div>
</clr-modal>
