<div *ngIf="systemItem.vars['arch_type']=='single'">
    <form clrForm #settingForm="ngForm">
        <div *ngIf="systemItem">
            <clr-select-container>
                <label>{{'APP_REGISTRY_PROTOCOL'|translate}}</label>
                <select clrSelect name="options" [(ngModel)]="systemItem.vars['REGISTRY_PROTOCOL']" required>
                    <option value="http">http</option>
                    <option value="https">https</option>
                </select>
                <clr-control-helper>{{'APP_SYSTEM_PROTOCOL_HELPER'| translate}}</clr-control-helper>
            </clr-select-container>

            <clr-input-container>
                <label>{{'APP_REGISTRY_IP'|translate}}</label>
                <input clrInput [(ngModel)]="systemItem.vars['ip']" name="ip" size=45 required
                       pattern="^((2(5[0-5]|[0-4]\d))|[0-1]?\d{1,2})(\.((2(5[0-5]|[0-4]\d))|[0-1]?\d{1,2})){3}$"/>
                <clr-control-helper>{{'APP_SYSTEM_IP_HELPER'|translate}}</clr-control-helper>
                <clr-control-error>{{'APP_IP_INVALID'|translate}}</clr-control-error>
            </clr-input-container>
        </div>
    </form>
    <button class="btn btn-info-outline" (click)="SingleOnSubmit()"
            [disabled]="settingForm.invalid">{{'APP_COMMIT'|translate}}</button>
</div>

<div *ngIf="systemItem.vars['arch_type']=='mixed'">
    <clr-datagrid  [clrDgLoading]="loading" [(clrDgSelected)]="selected">
        <clr-dg-action-bar>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-secondary" (click)="onCreate()">
                    <clr-icon shape="plus" size="16"></clr-icon>
                    {{"APP_ADD"|translate}}
                </button>
                <button type="button" class="btn btn-sm btn-secondary" (click)="onUpdate(selected[0])"
                        [disabled]="selected.length!==1">
                    <clr-icon shape="note"></clr-icon>
                    {{"APP_EDIT"|translate}}
                </button>
                <button type="button" class="btn btn-sm btn-secondary" (click)="onDelete()" [disabled]="selected.length<1">
                    <clr-icon shape="close"></clr-icon>
                    {{"APP_DELETE"|translate}}
                </button>
            </div>
        </clr-dg-action-bar>
        <clr-dg-column>CPU架构</clr-dg-column>
        <clr-dg-column>协议</clr-dg-column>
        <clr-dg-column>地址</clr-dg-column>
        <clr-dg-column>{{'APP_CREATED_DATE'|translate}}</clr-dg-column>


        <clr-dg-row *ngFor="let item of items" [clrDgItem]="item">
            <clr-dg-cell>{{item.architecture}}</clr-dg-cell>
            <clr-dg-cell>{{item.protocol}}</clr-dg-cell>
            <clr-dg-cell>{{item.hostname}}</clr-dg-cell>
            <clr-dg-cell>{{item.createdAt |date:'yyyy-MM-dd HH:mm:ss'}}</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
            <clr-dg-pagination #pagination [(clrDgPage)]="page" [clrDgPageSize]="size" [clrDgTotalItems]="total"
                               (clrDgPageChange)="refresh()">
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                {{"APP_PAGER_TOTAL"|translate}} {{pagination.totalItems}} 仓库
            </clr-dg-pagination>
        </clr-dg-footer>
    </clr-datagrid>
</div>
